<% content_for :title, "Evaluators" %>
<% toolbox_push :new, new_evaluator_path if policy(Evaluator).create? %>

<table class="main_table hoverable selectable" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <% if policy(Evaluator).update? %>
        <th></th>
      <% end %>
      <% if policy(Evaluator).destroy? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @evaluators.each do |evaluator| %>
  <tr>
    <td><%= evaluator.name %></td>
    <td><%= evaluator.description %></td>
    <td><%= evaluator.owner_id %></td>
    <td><%= link_to 'Show', evaluator %></td>
    <% if policy(Evaluator).update? %>
      <td><%= link_to 'Edit', edit_evaluator_path(evaluator) if policy(evaluator).update? %></td>
    <% end %>
    <% if policy(Evaluator).destroy? %>
      <td><%= link_to 'Destroy', evaluator, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(evaluator).destroy? %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>
