<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @evaluator.name %>
</p>

<p>
  <b>Description:</b>
  <%= @evaluator.description %>
</p>
<% if policy(@evaluator).inspect? %>
  <p>
    <b>Source:</b>
    <pre><%= @evaluator.source %></pre>
  </p>
<% end %>

<p>
  <b>User:</b>
  <%= @evaluator.owner_id %>
</p>


<%= link_to 'Edit', edit_evaluator_path(@evaluator) if policy(@evaluator).edit? %> 
<%= link_to 'Back', evaluators_path %>
