<% content_for :title, "Edit Profile" %>
<% toolbox_push :back, :back %>

<%= form_for(resource, :as => resource_name, :url => "/accounts/settings/update", :html => { :multipart => true, :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <p><%= f.label :username %><br />
  <div style="display: inline-block; min-width: 20em;"><%= @user[:username] %></div> <%= link_to "change", edit_user_registration_path + '/username' %></p>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <div style="display: inline-block; min-width: 20em;"><%= @user[:email] %></div> <%= link_to "change", edit_user_registration_path + '/email' %></p>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <p><%= f.label :password %><br />
  <div style="display: inline-block; min-width: 20em;">********</div> <%= link_to "change", edit_user_registration_path + '/password' %></p>

  <p><%= f.label :avatar %><br />
  <% if @user.avatar? %>
    <img src="<%= @user.avatar_url %>"><br />
    <label><%= f.check_box :remove_avatar %>Remove current avatar</label><br />
  <% end %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %></p>

  <p><%= f.label :country_code, "Country" %><br />
  <%= f.country_select(:country_code, priority_countries: ["NZ", "AU"] ) %></p>

  <p><%= f.label :school_graduation, "School Graduation" %><br />
  <%= f.fields_for :school_graduation do |graduation_form| %>
    <%= graduation_form.radio_button('enabled', false, checked: !@user.school_graduation) %><%= f.label(:school_graduation_enabled_false, "Unspecified (Not considered eligible for IOI)") %> <br />
    <%= graduation_form.radio_button('enabled', true, checked: !!@user.school_graduation) %><%= select_month(@user.school_graduation || 12, {prefix: 'user[school_graduation]'}, class: :radio_input) %><%= select_year(@user.school_graduation || Date.today, {start_year: [Date.today.year-50,@user.school_graduation.try(:year) || Date.today.year].min, end_year: Date.today.year+18, prefix: 'user[school_graduation]'}, class: :radio_input) %>
  <% end %></p>

  <p><%= f.label :school %><br />
  <%= f.fields_for :school, @user.school do |school_form| %>
    <%= school_form.text_field :name, class: [:school_select, :jsnodisplay] %>
    <%= f.select :school_id, School.where(country_code: "NZ").order(:name).collect {|s| [s.name, s.id]}, { include_blank: true }, class: [:school_select, :jsdisplay], disabled: true %>, 
    <%= school_form.country_select(:country_code, only: ["NZ"] ) %><br />
    <a class="school_select togglelink jsnodisplay" data-toggle="school_select" href="javascript:void(0)">Select school from list</a>
    <a class="school_select togglelink jsdisplay" data-toggle="school_select" href="javascript:void(0)">Add new school</a>
  <% end %>
  </p>

  <p><%= f.submit "Update" %></p>
<% end %>
