<h2>Edit profile<%#= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => "/accounts/settings/update", :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <p><%= f.label :username %><br />
  <div style="display: inline-block; min-width: 20em;"><%= @user[:username] %></div> <%= link_to "change", edit_user_registration_path + '/username' %></p>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <div style="display: inline-block; min-width: 20em;"><%= @user[:email] %></div> <%= link_to "change", edit_user_registration_path + '/email' %></p>

  <p><%= f.label :password %><br />
  <div style="display: inline-block; min-width: 20em;">********</div> <%= link_to "change", edit_user_registration_path + '/password' %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to "Back", :back %>
