<%= form_for(@problem_set) do |f| %>
  <% if @problem_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_set.errors.count, "error") %> prohibited this problem_set from being saved:</h2>

      <ul>
      <% @problem_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <% if policy(@problem_set).transfer? %>
      <%= f.text_field :owner_id %>
    <% else %>
      <%= handle(@problem_set.owner) %>
    <% end %>

  </div>

  <table class="main_table hoverable">
    <thead>
      <tr>
        <th width="50%">Title</th>
        <th>Points Weighting</th>
      </tr>
    </thead>
    <% @problem_set.problem_associations.each_with_index do |association,i| %>
      <% problem = association.problem %>
      <tr>
        <td><%= link_to problem.name, problem %></td>
        <td>
          <%= text_field_tag "problem_set[problem_associations_attributes][#{i}][weighting]", association.weighting, :style => "width: 100px;" %>
          <%= text_field_tag "problem_set[problem_associations_attributes][#{i}][id]", association.id, :style => "width: 0%;visibility:hidden" %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
