<% @colspan = 3 %>
<table class="main_table hoverable">
  <thead>
    <tr>
      <th width="100%">Title</th>
      <th>Progress</th>
      <th></th>
      <% if permitted_to? :update, ProblemSet %>
        <% @colspan += 1 %>
        <th></th>
      <% end %>
      <% if permitted_to? :destroy, ProblemSet %>
        <% @colspan += 1 %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @problem_sets.each do |problem_set| %>
  <% problems = problem_set.problems.except(:select).distinct.score_by_user(current_user.id) %>
  <tr class="subheading">
    <td onClick="toggle_height('<%= "problemset#{problem_set.id}problems" %>');"><%= problem_set.title %> <span style="font-weight: normal; font-style: italic;">(<%= problem_set.problems.length %> problem<%= problem_set.problems.length==1?"":"s" %>)</span></td>
    <td><%= progress_bar(problems.inject(0){|sum,x| sum+(x.score.to_i||0)}/problems.length) if problems.length>0 %></td>
    <td><%= link_to 'Show', problem_set %></td>
    <% if permitted_to? :update, ProblemSet %>
      <td><%= link_to 'Edit', edit_problem_set_path(problem_set) if permitted_to? :update, problem_set %></td>
    <% end %>
    <% if permitted_to? :destroy, ProblemSet %>
      <td><%= link_to 'Destroy', problem_set, :data => { :confirm => 'Are you sure?' }, :method => :delete if permitted_to? :destroy, problem_set %></td>
    <% end %>
  </tr>
  <tr>
    <td colspan="<%= @colspan %>" style="padding: 0px;">
      <div id="problemset<%= problem_set.id %>problems" style="display: none; overflow-y: hidden;">
        <table class="main_table hoverable selectable" onClick="event.cancelBubble = true;">
          <tbody>
            <% problems.each do |problem| %>
              <tr>
                <td width="100%">&nbsp;&nbsp;&nbsp;<%= link_to problem.title, problem %></td>
                <td><%= progress_bar(problem.score) %></td>
                <td><%= link_to 'Show', problem %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>

<% end %>
  </tbody>
</table>

