<%# local variables: problem_set, edit_links (edit/delete), name %>
<% edit_links = nil unless defined? edit_links %>
<% problems = problem_set.problems_with_scores_by_user(current_user.try(:id) || -1) %>
<% weighted = problems.map{|p|p.weighting != 100}.any? %>
<%# problems = problem_set.problems.score_by_user(current_user.id) %>
<tr class="subheading" aria-expanded="false" aria-controls="problemset<%= problem_set.id%>" onclick="toggleVisibility(this)">
  <td><%= defined?(name) ? name : problem_set.name %> <span style="font-weight: normal; font-style: italic;">(<%= problem_set.problems.length %> problem<%= problem_set.problems.length==1?"":"s" %>)</span></td>
  <td>
    <% if problems.length > 0 %>
      <% set_score = problems.inject(0){|sum,x| sum+(x.weighted_score.to_i||0)} %>
      <% set_weight = problems.map(&:weighting).sum %>
      <%= weighted ? progress_bar(set_score, set_weight) : progress_bar(set_score*100/set_weight)%>
    <% end %>
  </td>
  <td><%= link_to 'Show', problem_set %></td>
  <% if edit_links && policy(ProblemSet).update? %>
    <td><%= link_to 'Edit', edit_problem_set_path(problem_set) if policy(problem_set).update? %></td>
  <% end %>
  <% if edit_links && policy(ProblemSet).destroy? %>
    <td><%= link_to 'Destroy', problem_set, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(problem_set).destroy? %></td>
  <% end %>
</tr>
<tr id="problemset<%=problem_set.id%>">
  <td colspan="<%= @colspan %>" style="padding: 0px;">
    <div id="problemset<%= problem_set.id %>problems">
      <table class="main_table hoverable selectable" onClick="event.cancelBubble = true;">
        <tbody>
          <% problems.each do |problem| %>
            <tr>
              <td width="100%">&nbsp;&nbsp;&nbsp;

                <% if policy(problem).inspect? %>
                  <%= test_status(problem) %>
                  &nbsp;
                <% end %>

                <%= link_to problem.name, problem %>
              </td>

              <td>
                <%= weighted ? progress_bar(problem.weighted_score, problem.weighting) : progress_bar(problem.weighted_score) %>
              </td>
              <td><%= link_to 'Show', problem %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </td>
</tr>
