<% content_for :title, "Problem Sets" %>
<div id="main-page-title">Problems</div>

<% @colspan = 2 %>
<table class="main_table" style="width: 100%;">
  <tr>
    <th width="100%">Title</th>
    <th></th>
    <% if can? :update, ProblemSet %>
      <% @colspan += 1 %>
      <th></th>
    <% end %>
    <% if can? :destroy, ProblemSet %>
      <% @colspan += 1 %>
      <th></th>
    <% end %>
  </tr>

<% @problem_sets.each do |problem_set| %>
  <tr class="emphasized">
    <td onClick="toggle_height('<%= "problemset#{problem_set.id}problems" %>');"><%= problem_set.title %> <span style="font-weight: normal; font-style: italic;">(<%= problem_set.problems.length %> problem<%= problem_set.problems.length==1?"":"s" %>)</span></td>
    <td><%= link_to 'Show', problem_set %></td>
    <% if can? :update, ProblemSet %>
      <td><%= link_to 'Edit', edit_problem_set_path(problem_set) if can? :update, problem_set %></td>
    <% end %>
    <% if can? :destroy, ProblemSet %>
      <td><%= link_to 'Destroy', problem_set, :confirm => 'Are you sure?', :method => :delete if can? :destroy, problem_set %></td>
    <% end %>
  </tr>
  <tr>
    <td colspan="<%= @colspan %>" style="padding: 0px;">
      <div id="problemset<%= problem_set.id %>problems" style="display: none; overflow-y: hidden;">
        <table width="100%" onClick="event.cancelBubble = true;">
          <% problem_set.problems.each do |problem| %>
            <tr>
              <td width="100%">&nbsp;&nbsp;&nbsp;<%= problem.title %></td>
              <td><%= link_to 'Show', problem %></td>
              <% if can? :update, Problem %>
                <td><%= link_to 'Edit', edit_problem_path(problem) if can? :update, problem %></td>
              <% end %>
              <% if can? :destroy, Problem %>
                <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete if can? :destroy, problem %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>

<% end %>
</table>

<br />

<% if current_user.is_admin %>
  <%= link_to 'New Problem set', new_problem_set_path %>
<% end %>
