<% content_for :title, @problem_set.name %>
<%= toolbox_push :edit, edit_problem_set_path(@problem_set) if policy(@problem_set).edit? %> 
<%= toolbox_push :delete, @problem_set if policy(@problem_set).destroy? %> 
<table class="main_table hoverable">
  <thead>
    <tr>
      <th width="50%">Title</th>
      <th>Points Weighting</th>
      <% if policy(Problem).update? %>
        <th></th>
      <% end %>
      <% if policy(@problem_set).update? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% @problem_set.problem_associations.each_with_index do |association,i| %>
    <% problem = association.problem %>
    <tr>
      <td><%= link_to problem.name, problem %></td>
      <td><%= association.weighting %></td>
      <% if policy(problem).update? %>
        <td><%= link_to 'Edit', edit_problem_path(problem) if policy(problem).update? %></td>
      <% end %>
      <% if policy(@problem_set).update? %>
        <td><%= link_to 'Remove', remove_problem_problem_set_path(@problem_set, :problem_id => problem.id), :method => "put" %></td>
        <td>
          <%= %i{first up down last}.map do |move| %>
            <% link_to move.to_s.humanize, problem_set_path(@problem_set, "problem_set[problem_associations_attributes][0][id]" => association.id, "problem_set[problem_associations_attributes][0][problem_set_order_position]" => move), method: :patch %>
          <% end.join(' | ').html_safe %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<% if policy(@problem_set).use? %>
  <p>
  <b> Groups: </b>
  <% if @problem_set.groups.size > 0 %>
    <ul>
      <% @problem_set.groups.each do |g| %>
        <li> <%= link_to g.name, g %> </li>
      <% end %>
    </ul>
  <% else %>
      <br>
      This problem set is not in any group.
  <% end %>
  <% groups_not_in = @groups.reject {|g| @problem_set.groups.include? g} %>
  <% if groups_not_in.size > 0 %>
    <%= form_tag(group_problem_set_add_path(:problem_set_id => @problem_set), :method => :put) do %>
        <%= collection_select :problem_set, :group_ids, groups_not_in, :id, :name %>
        <%= submit_tag "Give group access" %>
    <% end %>
  <% else %>
      A member of all groups.
  <% end %>
  </p>

<% end %>
