<% content_for :title, @problem_set.title %>
<div id="main-page-title"><%= @problem_set.title %></div>
<br />
<table width="100%">
  <tr>
    <th>Title</th>
    <th></th>
    <% if can? :update, Problem %>
      <th></th>
    <% end %>
    <% if can? :destroy, Problem %>
      <th></th>
    <% end %>
  </tr>
  <% @problem_set.problems.each do |problem| %>
    <tr>
      <td><%= problem.title %></td>
      <td><%= link_to 'Show', problem %></td>
      <% if can? :update, Problem %>
        <td><%= link_to 'Edit', edit_problem_path(problem) if can? :update, problem %></td>
      <% end %>
      <% if can? :destroy, Problem %>
        <td><%= link_to 'Remove', remove_problem_problem_set_path(@problem_set, :problem_id => problem.id), :method => "put" if can? :destroy, problem %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if can? :update, @problem_set %>
  <p>
  <% form_tag( add_problem_set_group_path(:problem_set_id => @problem_set), :method => :put) do %>
    <%= collection_select :problem_set, :group_ids, @groups, :id, :name %>
    <%= submit_tag "Give group access" %>
  <% end %>
  </p>

  <%= link_to 'Edit', edit_problem_set_path(@problem_set) %>
<% end %>
<%= link_to 'Back', problem_sets_path %>
