<%= render 'menu' %>

<b>Pending Join Requests:</b>
<table>
  <tr>
    <th></th>
    <th>User</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% [@pending_requests, @requests].each do |requests| %>
    <% requests.each do |request| %>
      <tr>
        <td><%= request.created_at %></td>
        <td><%= handle(request.subject) %></td>
        <td><%= Request::STATUS[request.status].capitalize %></td>
        <td><%= link_to 'Accept', accept_members_group_path(@group, request), :method => :put if request.pending? and policy(@group).invite? %></td>
        <td><%= link_to 'Reject', reject_members_group_path(@group, request), :method => :put if request.pending? and policy(@group).reject? %></td>
      </tr>
    <% end %>
  <% end %>
</table>
