<% content_for :title, problem_series.name %>
<% tagged_jobs = $qless.jobs.tagged(problem_series.tag)['jobs'].map{|jid|$qless.jobs[jid]} %>
<% pending_jobs = tagged_jobs.select{|job| job.state == 'pending' } %>
<%= link_to "Jobs", qless_tag_path(problem_series.tag) %>
<% if pending_jobs.any? %>
  <h2>Pending jobs</h2>
  <ul>
  <% pending_jobs.each do |job| %>
    <li><%= link_to "#{job.jid} | #{job.klass_name}", qless_job_path(job.jid) %></li>
  <% end %>
  </ul>
<% end %>

<p><%= link_to "Update index", importers_update_index_problem_series_path(series), method: :post %></p>
<br>
<table class="main_table">
  <% @index.each_with_index do |volume, vid| %>
    <thead>
      <tr class="subheading">
        <th><%= link_to volume[:name], volume[:url] %></th>
        <th>Downloaded</th>
        <th>
          <%= link_to "Download", importers_download_problem_series_path(series, vid), method: :post %> |
          <%= link_to "Reindex", importers_reindex_problem_series_path(series, vid), method: :post %> |
          <%= link_to "Merge Import All", importers_update_problem_series_path(series, vid, "issue[#{vid}][disposition]" => 'merge', "issue[#{vid}][all]" => 1, commit: 'Import All'), method: :patch %>
        </th>
        <th colspan="2">Imported</th>
      </tr>
    </thead>
    <tbody>
      <% volume[:issues].each_with_index do |issue, cid| %>
        <%= form_tag importers_update_problem_series_path(series, vid, cid), method: :patch do %>
          <tr class="subheading">
            <td><%= link_to_if issue[:url], issue[:name], issue[:url] %></td>
            <td><%= importer.downloaded?(vid, cid) ? "Yes" : "No" %></td>
            <td>
              <%= link_to "Download", importers_download_problem_series_path(series, vid, cid), method: :post %> |
              <%= link_to "Reindex", importers_reindex_problem_series_path(series, vid, cid), method: :post %> |
              <%= link_to "Merge Import All", importers_update_problem_series_path(series, vid, cid, "issue[#{vid}][#{cid}][disposition]" => 'merge', "issue[#{vid}][#{cid}][all]" => 1, commit: 'Import All'), method: :patch %>
            </td>
            <td><%= link_to ProblemSet.where(id: issue[:problem_set_id]).first.try(:name), problem_set_path(issue[:problem_set_id]) if issue[:problem_set_id] %></td>
            <td>
              <%= text_field "issue[#{vid}][#{cid}]", :problem_set_id, value: issue[:problem_set_id], style: 'width: 50px' %>
            </td>
          </tr>
          <% (issue[:problems] || []).each_with_index do |problem, pid| %>
            <tr>
              <td>
                <%= check_box "issue[#{vid}][#{cid}][problems][#{pid}]", :select, {}, 1, 0 %>
                <%= label_tag "issue[#{vid}][#{cid}][problems[#{pid}][select]" do %>
                  <%= link_to_if problem[:url], problem[:name], problem[:url] %>
                <% end %>
              </td>
              <td></td>
              <td>
              </td>
              <td><%= link_to Problem.where(id: problem[:problem_id]).first.try(:name), problem_path(problem[:problem_id]) if problem[:problem_id] %></td>
              <td>
                <%= text_field("issue[#{vid}][#{cid}][problems][#{pid}]", :problem_id, value: problem[:problem_id], style: 'width: 50px') %>
              </td>
            </tr>
          <% end %>
          <% if issue[:problems] && issue[:problems].any? %>
            <tr>
              <td>
                <%= radio_button "import", "disposition", "replace", checked: true %> <%= label_tag "issue[#{vid}][#{cid}][disposition][replace]", "replace" %>
                or
                <%= radio_button "import", "disposition", "merge" %> <%= label_tag "issue[#{vid}][#{cid}][disposition][merge]", "merge" %>
                or
                <%= radio_button "import", "disposition", "missing" %> <%= label_tag "issue[#{vid}][#{cid}][disposition][missing]", "missing" %>
              </td>
              <td colspan="2">
                Import:
                <%= operation_list.map do |part|
                      check_box("issue[#{vid}][#{cid}]", part, {}, 1, 0) + label_tag("issue[#{vid}][#{cid}][#{part}]", part)
                    end.join(', ').html_safe %>
              </td>
              <td>
                <%= submit_tag "Import" %>
                <%= submit_tag "Import All" %>
              </td>
              <td>
                <%= submit_tag "Update" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>

