<% content_for :title, problem_series.name %>
<% tagged_jobs = $qless.jobs.tagged(problem_series.tag)['jobs'].map{|jid|$qless.jobs[jid]} %>
<% pending_jobs = tagged_jobs.select{|job| job.state == 'pending' } %>
<%= link_to "Jobs", qless_tag_path(problem_series.tag) %>
<% if pending_jobs.any? %>
  <h2>Pending jobs</h2>
  <ul>
  <% pending_jobs.each do |job| %>
    <li><%= link_to "#{job.jid} | #{job.klass_name}", qless_job_path(job.jid) %></li>
  <% end %>
  </ul>
<% end %>

<p><%= link_to "Update index", importers_update_index_problem_series_path(series), method: :post %></p>
<br>
<table class="main_table">
  <% @index.each_with_index do |volume, vid| %>
    <thead>
      <tr class="subheading">
        <th><%= link_to volume[:name], volume[:url] %></th>
        <th>Downloaded</th>
        <th>
          <%= link_to "Download", importers_download_problem_series_path(series, vid), method: :post %> |
          <%= link_to "Reindex", importers_reindex_problem_series_path(series, vid), method: :post %> |
          <%= link_to "Merge Import All", importers_update_problem_series_path(series, vid, "issue[#{vid}][disposition]" => 'merge', "issue[#{vid}][all]" => 1, commit: 'Import All'), method: :patch %>
        </th>
        <th colspan="2">Imported</th>
      </tr>
    </thead>
    <tbody>
      <% problem_set_ids = [] %>
      <% problem_ids = [] %>
      <% volume[:issues].each_with_index do |issue, cid| %>
        <% problem_set_ids << issue[:problem_set_id] %>
        <% problem_ids += (issue[:problems] || []).map { |p| p[:problem_id] } %>
      <% end %>
      <% imported_problem_sets = Hash[ProblemSet.where(id: problem_set_ids).select([:id, :name]).map{|p| [p.id,p]}] %>
      <% imported_problems = Hash[Problem.where(id: problem_ids).includes(:problem_set_associations).select([:id, :name, :memory_limit, :time_limit, :test_error_count, :test_warning_count, :test_status]).map{ |p| [p.id,p]}] %>
      <% volume[:issues].each_with_index do |issue, cid| %>
        <%= form_tag importers_update_problem_series_path(series, vid, cid), method: :patch do %>
          <tr class="subheading">
            <td><%= link_to_if issue[:url], issue[:name], issue[:url] %></td>
            <td><%= importer.downloaded?(vid, cid) ? "Yes" : "No" %></td>
            <td>
              <%= link_to "Download", importers_download_problem_series_path(series, vid, cid), method: :post %> |
              <%= link_to "Reindex", importers_reindex_problem_series_path(series, vid, cid), method: :post %> |
              <%= link_to "Merge Import All", importers_update_problem_series_path(series, vid, cid, "issue[#{vid}][#{cid}][disposition]" => 'merge', "issue[#{vid}][#{cid}][all]" => 1, commit: 'Import All'), method: :patch %>
            </td>
            <td>
              <% if issue[:problem_set_id] %>
                <% imported_problem_set = imported_problem_sets[issue[:problem_set_id].to_i] %>
                <%= link_to imported_problem_set.try(:name), problem_set_path(issue[:problem_set_id]) %>
                (<%= imported_problem_set.total_weighting %>)
              <% end %>
            </td>
            <td>
              <%= text_field "issue[#{vid}][#{cid}]", :problem_set_id, value: issue[:problem_set_id], style: 'width: 50px' %>
            </td>
          </tr>
          <% (issue[:problems] || []).each_with_index do |problem, pid| %>
            <% imported_problem = imported_problems[problem[:problem_id].to_i] %>
            <tr>
              <td>
                <%= check_box_tag "issue[#{vid}][#{cid}][checked_problems][#{pid}]", :checked %>
                <%= label_tag "issue[#{vid}][#{cid}][checked_problems][#{pid}]" do %>
                  <%= link_to_if problem[:url], problem[:name], problem[:url] %>
                <% end %>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <% if !imported_problem.nil? %>
                  <%= ProblemPresenter.new(imported_problem).test_status  %>
                  <%= link_to imported_problem.try(:name), problem_path(problem[:problem_id]) %>
                  (<%= imported_problem.problem_set_associations.detect{|psa| psa.problem_set_id == issue[:problem_set_id].to_i}.try(:weighting) %>)
                  <%= imported_problem.memory_limit || '?' %> MB, <%= imported_problem.time_limit || '?' %> s
                <% end %>
              </td>
              <td>
                <%= text_field("issue[#{vid}][#{cid}][problems][#{pid}]", :problem_id, value: problem[:problem_id], style: 'width: 50px') %>
              </td>
            </tr>
          <% end %>
          <% if issue[:problems] && issue[:problems].any? %>
            <tr>
              <td>
                <%= radio_button "issue[#{vid}][#{cid}]", "disposition", "replace", checked: true %> <%= label_tag "issue[#{vid}][#{cid}][disposition][replace]", "replace" %>
                or
                <%= radio_button "issue[#{vid}][#{cid}]", "disposition", "merge" %> <%= label_tag "issue[#{vid}][#{cid}][disposition][merge]", "merge" %>
                or
                <%= radio_button "issue[#{vid}][#{cid}]", "disposition", "missing" %> <%= label_tag "issue[#{vid}][#{cid}][disposition][missing]", "missing" %>
              </td>
              <td colspan="2">
                Import:
                <%= operation_list.map do |part|
                      check_box_tag("issue[#{vid}][#{cid}][#{part}]", :checked) + label_tag("issue[#{vid}][#{cid}][#{part}]", part)
                    end.join(', ').html_safe %>
              </td>
              <td>
                <%= submit_tag "Import" %>
                <%= submit_tag "Import All" %>
              </td>
              <td>
                <%= submit_tag "Update" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>

