<%= content_for :title, "NZIC Info Pages" %>
<% toolbox_push :new, new_nzic_info_path if policy(NZIC::Info).new? %>

<table class="main_table">
  <thead>
    <th>Name</th>
    <th>URL</th>
    <th>Summary</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td style="vertical-align: top"><%= link_to info.name, info %></td>
        <td style="vertical-align: top"><%= "/info/#{info.name}" %></td>
        <td>
          <p><strong><%= info.title %></strong></p>
          <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML_TOC.new(no_links: true, space_after_headers: true, escape_html: true, nesting_level: 2)).render(info.text).to_s.html_safe %><%#TODO: move to nzic_models helper %>
        </td>
        <td><%= link_to "Edit", edit_nzic_info_path(info) %></td>
        <td><%= "Destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
