<br>
<b>Admin</b>

<%= form_tag( add_contest_groups_path(:contest_id => @contest), :method => :put) do %>
  <%= collection_select :contest, :group_ids, @groups, :id, :name %>
  <%= submit_tag "Give group access" %>
<% end %>

<br>
<b> Groups with access:</b>
<ul>
<% @contest.groups.each do |group| %>
  <li>
  <%= group.name %> (<%= link_to("remove", remove_contest_group_path(group, :contest_id => @contest.id ), :method => "put") %>)
  </li>
<% end %>
</ul>

