<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :problem_set_id %><br />
    <%= f.collection_select :problem_set_id, @problem_sets, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :class => "date-picker", :value => @start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time, :class => "date-picker", :value => @end_time %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration, :value=>3.0 %> hours
  </div>
  <div class="field">
    <%= f.label :observation %><br />
    <%= f.select :observation, Contest::OBSERVATION.entries.invert %><br />
    Users can only join a contest if they have been added manually, or belong to a group with access to the contest.
    <ul>
        <li>Public: Anyone can see the contest.</li>
        <li>Protected: Only those in one of the contest's groups can see the contest.</li>
        <li>Private: Only those explicitly added as contestants can see the contest.</li>
    </ul>

  </div>
  <div class="field">
    <%= f.label :startcode %><br />
    <%= f.text_field :startcode %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <% if policy(@contest).transfer? %>
      <%= f.text_field :owner_id %>
    <% else %>
      <%= handle(@contest.owner) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.check_box :live_scoreboard %>
    <%= f.label :live_scoreboard %> - If checked, other users' scores are shown during the contest. Otherwise, you may only see your own scores until the end of the contest.<br />
  <div>
  <div class="field">
    <%= f.check_box :show_unofficial_competitors %>
    <%= f.label :show_unofficial_competitors %> - If checked, unofficial contestants are not ranked. An offical competitor is any student enrolled in a NZ school.<br />
  <div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
