<table class="main_table hoverable selectable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Duration</th>
      <th>User</th>
      <th>Score</th>
      <th></th>
      <% if policy(Contest).update? %>
        <th></th>
        <th></th>
      <% end %>
      <% if policy(Contest).destroy? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @contests.each do |contest| %>
  <% if Time.new.to_f < contest.end_time.to_f and Time.new.to_f > contest.start_time.to_f %>
    <tr class="emphasized">
  <% else %>
    <tr>
  <% end %>
    <td><%= contest.name %></td>
    <td><%= contest.start_time.strftime("%b %d, %H:%M") unless contest.start_time.nil? %></td>
    <td><%= contest.end_time.strftime("%b %d, %H:%M") unless contest.end_time.nil? %></td>
    <td><%= contest.duration %></td>
    <td><%= contest.owner_id %></td>
    <td><%= contest.get_score(current_user.id) if user_signed_in? %></td>
    <td>
      <% if contest.is_running? && (policy(contest).start?) %>
        <% if contest.has_current_competitor?(current_user.id) %>
          <%= link_to 'Continue Contest', contest %>
        <% elsif !contest.has_competitor?(current_user.id) %>
          <%#= link_to 'Start Contest', start_contest_path(contest), :method => :put %>
          <% if policy(contest).show? %>
            <%= link_to 'Watch', contest %>
          <% end %>
        <% else %>
          <%= link_to 'Watch', contest %>
        <% end %>
      <% elsif policy(contest).show? %>
        <%= link_to 'Show', contest %>
      <% end %>
    </td>
    <% if policy(Contest).update? %>
      <td><%= contest.status if policy(contest).update? %></td>
      <td><%= link_to 'Edit', edit_contest_path(contest) if policy(contest).update? %></td>
    <% end %>
    <% if policy(Contest).destroy? %>
      <td><%= link_to 'Destroy', contest, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(contest).destroy? %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>

