<% if policy(@contest).manage? %>
  <%= form_tag(register_contest_path(@contest)) do %>
    <strong>Registration:</strong>
    <%= label_tag :username %> <%= text_field_tag :username %>
    <%= submit_tag "Register" %>
  <% end %>
<% end %>
<% @contest_supervision = @contest.contest_supervisors.where(user_id: current_user.id) %>
<% if @contest_supervision.any? %>
  <% @contest_supervision.each do |contest_supervisor| %>
    <h3><%= contest_supervisor.site_name %></h3>
    <h4>Registered contestants</h4>
    <%= form_tag(supervise_contest_path(@contest)) do %>
      <%= hidden_field_tag "contest_supervisor", contest_supervisor.id %>
      <table class="main_table" >
        <thead>
          <tr>
            <th>Start/End</th>
            <th style="min-width: 10%;"> Username </th>
            <th style="min-width: 15%;"> Name </th>
            <th>Year Level</th>
            <th>School Graduation</th>
            <th>Started At</th>
            <th>Finish At</th>
            <th>Extra Time</th>
            <th>Score</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% registered_contestants = contest_supervisor.contest_relations.order(finish_at: :desc, started_at: :desc) %>
          <% if !registered_contestants.any? %>
            <tr><td colspan="10">No contestants registered for this site</td></tr>
          <% end %>
          <% registered_contestants.each do |contest_relation| %>
            <tr class="<%= "emphasized" if contest_relation.active? %>">
              <td><%= check_box_tag("selected[]", contest_relation.id, false, disabled: contest_relation.ended?) %></td>
              <td>
                <% if @contest.is_running? %>
                  <% user_online = Time.now - contest_relation.user.last_seen_at < 15.minutes %>
                  <div style="vertical-align: middle; border-radius: 50%; width: 10px; height: 10px; background-color: #<%= user_online ? "00C000" : "808080" %>; display: inline-block"></div>
                <% end %>
                <%= contest_relation.user.username %>
              </td>
              <td><%= contest_relation.user.name %></td>
              <td>
                <%= contest_relation.school_year %>
                <%= link_to '+', update_year_level_contest_relation_path(contest_relation, year_level: (contest_relation.school_year||14)+1), :method => :post %>/<%= link_to '-', update_year_level_contest_relation_path(contest_relation, year_level: (contest_relation.school_year||14)-1), :method => :post %>
              </td>
              <td><%= contest_relation.user.school_graduation %></td>
              <td><%= contest_relation.started_at %></td>
              <td>
                <% if contest_relation.active? %>
                  <span style="font-size: 18px">in </span><span class="countdown medium" data-duration="<%= contest_relation.finish_at - DateTime.now %>" data-format="%th:%M:%S" style="color: #008800; font-size: 24px; margin-left: 5px">
                    <%= Duration.new(contest_relation.finish_at-Time.now).format("%th:%M:%S") %>
                  </div>
                <% else %>
                  <%= contest_relation.finish_at %>
                <% end %>
              </td>
              <td>
                <% if policy(contest_relation).update_extra_time? %>
                  <%= text_field(:extra_time, contest_relation.id, value: contest_relation.extra_time, size: 2)  %> s
                <% else %>
                  <%= contest_relation.extra_time %> s
                <% end %>
              </td>
              <td style="text-align: right"><%= contest_relation.score %></td>
              <td>
                <%= link_to 'Delete', contest_relation, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(contest_relation).destroy? %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="7">
              <%= submit_tag "Start Contest", name: :start_contest, disabled: !@contest.is_running? %>
              <%= submit_tag "End Contest", name: :end_contest %>
            </td>
            <td colspan="3">
              <%= submit_tag "Update Extra Time", name: :update %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <% if !@contest.ended? %>
      <h4>Potential contestants</h4>
      <table class="main_table" >
        <thead>
          <tr>
            <th style="min-width: 10%;"> Username </th>
            <th style="min-width: 15%;"> Name </th>
            <th> (Estimated) Year Level </th>
            <th> School Graduation Date </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% contest_supervisor.potential_contestants.order(school_graduation: :asc).each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.name %></td>
              <td><%= user.estimated_year_level(@contest.end_time) %></td>
              <td><%= user.school_graduation %></td>
              <td>
                <% if contest_supervisor.is_user_eligible?(user) %>
                  <%= form_tag(register_contest_path(@contest)) do %>
                    <%= hidden_field_tag :username, user.username %>
                    <%= hidden_field_tag :contest_supervisor_id, contest_supervisor.id %>
                    <%= submit_tag "Register" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <p>Please make sure that students filled out the correct fields in their profile before registering them for the contest:</p>
  <ul>
    <li>They have put the correct school in their profile</li>
    <li>They have filled out their full (first and last) name</li>
    <li>They have correctly filled out their school graduation date (so that their year level appears correctly)</li>
  </ul>
<% end %>
<% if policy(@contest).manage? %>
  <h3>Manage Contestants</h3>
  <%= form_tag(supervise_contest_path(@contest)) do %>
    <table class="main_table" >
      <thead>
        <tr>
          <th style="min-width: 25%;"> User </th>
          <th> Supervisor </th>
          <th> School </th>
          <th> Year </th>
          <th> Started At </th>
          <th> Finish At </th>
          <th style="text-align: right"> Score </th>
          <th> Time </th>
          <th style="min-width: 75px"> Extra Time </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @contest_relations.each do |contest_relation| %>
          <tr>
            <td>
              <% if contest_relation.user %>
                <%= link_to handle(contest_relation.user), contest_relation.user %>
              <% else %>
                <%= "Deleted User ID #{contest_relation[:user_id]}" %>
              <% end %>
            </td>
            <td><%= link_to handle(contest_relation.supervisor), contest_relation.supervisor if contest_relation.supervisor %></td>
            <td><%= contest_relation.school.try(:name) %></td>
            <td>
              <%= contest_relation.school_year %>
              <%= link_to '+', update_year_level_contest_relation_path(contest_relation, year_level: (contest_relation.school_year||14)+1), :method => :post %>/<%= link_to '-', update_year_level_contest_relation_path(contest_relation, year_level: (contest_relation.school_year||14)-1), :method => :post %>
            </td>
            <td><%= contest_relation.started_at %></td>
            <td><%= contest_relation.finish_at %></td>
            <td style="text-align: right"><%= contest_relation.score %></td>
            <td> <%= format("%d:%02d:%02d",contest_relation.time_taken.to_i/3600,contest_relation.time_taken.to_i/60%60,contest_relation.time_taken.to_i%60) %> </td>
            <td><%= text_field(:extra_time, contest_relation.id, value: contest_relation.extra_time, size: 2)  %> s</td>
            <td>
              <%= link_to 'Delete', contest_relation, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(contest_relation).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Update", name: :update %>
  <% end %>
<% end %>

