<% content_for :title, "Contests" %>
<div id="main-page-title">Listing contests</div>

<table class="main_table">
  <tr>
    <th>Title</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Duration</th>
    <th>User</th>
    <th>Score</th>
    <th></th>
    <% if can? :update, Contest %>
      <th></th>
    <% end %>
    <% if can? :destroy, Contest %>
      <th></th>
    <% end %>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.title %></td>
    <td><%= contest.start_time.strftime("%b %d, %H:%M") %></td>
    <td><%= contest.end_time.strftime("%b %d, %H:%M") %></td>
    <td><%= contest.duration %></td>
    <td><%= contest.owner_id %></td>
    <td><%= contest.get_score(current_user.id) %></td>
    <td>
      <% if contest.is_running? && (can? :start, contest) %>
        <% if !contest.get_relation(current_user) %>
          <%= link_to 'Start Contest', start_contest_path(contest), :method => :put %>
          <% if can? :show, contest %>
            <%= link_to 'Watch', contest %>
          <% end %>
        <% elsif contest.has_current_competitor(current_user) %>
          <%= link_to 'Continue Contest', contest %>
        <% else %>
          <%= link_to 'Watch', contest %>
        <% end %>
      <% elsif can? :show, contest %>
        <%= link_to 'Show', contest %>
      <% end %>
    </td>
    <% if can? :update, Contest %>
      <td><%= link_to 'Edit', edit_contest_path(contest) if can? :update, contest %></td>
    <% end %>
    <% if can? :destroy, Contest %>
      <td><%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete if can? :destroy, contest %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Contest %>
  <%= link_to 'New Contest', new_contest_path %>
<% end %>
