<h1>Listing contests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Duration</th>
    <th>User</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.title %></td>
    <td><%= contest.start_time %></td>
    <td><%= contest.end_time %></td>
    <td><%= contest.duration %></td>
    <td><%= contest.user_id %></td>
    <td><%= contest.get_score(current_user) %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
