
<h1> Contest Report: <%= @contest.title %> </h1>

<p>
  <b>Start time:</b>
  <%= @contest.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @contest.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @contest.duration %>
</p>

<p>
<b> Score Table </b>
<table>
  <tr>
    <th> User </th>
    <th> Score </th>
    <th> Placing </th>
  </tr>

  <% @high_scorers.each do |person| %>
    <tr>
      <td> <%= User.find(person[:user]).email %> </td>
      <td> <%= person[:score] %> </td>
      <td> <%= person[:placing] %> </td>
    </tr>
  <% end %>
</table>
<p>

<p>
<b> Problems: </b>
<table>
  <tr>
    <th> Name </th>
    <th> Score </th>
  </tr>

  <% @problems.each do |problem| %>
    <tr>
      <td> <%= link_to problem.title, problem_path(problem) %> </td>
      <td> <%= @contest.problem_score(current_user, problem) %> </td>
    </tr>
  <% end %>
</table>
</p>

<% form_tag( add_contest_group_path(:contest_id => @contest), :method => :put) do %>
  <%= collection_select :contest, :group_ids, @groups, :id, :name %>
  <%= submit_tag "Give group access" %>
<% end %>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
