<% content_for :title, @contest.title %>

<% if @contest.end_time >= DateTime.now() %>
  <script type="text/javascript">
  <!--
<% if @contest.start_time >= DateTime.now() %>
  window.setTimeout("window.location.reload(true);", <%= ((@contest.start_time-Time.now())*1000).round %>);
<% else # contest currently running!!! %>
  window.setTimeout("window.location.reload(true);", 60000);
<% end %>
  //-->
  </script>
<% end %>
<div id="main-page-title">Contest Report: <%= @contest.title %></div>
<br />
<p>
   <%= @contest.num_competitors %> people competed in this contest. <br />
   <b>Start time:</b>  <%= @contest.start_time %><br />
   <b>End time:</b>    <%= @contest.end_time %><br />
   <b>Duration:</b>    <%= @contest.duration %><br />
</p>
<br />

<b>High Scorers</b>
<table class="main_table" >
  <tr>
    <th style="min-width: 25%;"> User </th>
    <% @contest.problem_set.problems.each do |problem|%>
      <th> <%= link_to problem.title, problem_path(problem) %> </th>
    <% end %>
    <th> Score </th>
    <th> Time </th>
    <th> Rank </th>
  </tr>
  <% @scoreboard.each do |person| %>
    <tr <% if (person[:user_id]==current_user.id) %> class="emphasized"<% end %>>
      <td>
        <% begin %>
          <% u = User.find(person[:user_id]) %>
          <%= link_to u.handle(current_ability), u %>
        <% rescue ActiveRecord::RecordNotFound %>
          <%= "Deleted User ID #{person[:user_id]}" %>
        <% end %>
      </td>
      <% @contest.problem_set.problems.each do |prob|%>
        <% @detail = @scoredetails[[person[:user_id],prob.id]]  %>
        <td style="min-width: 5em;">
          <span style="float: left; width: 2em; text-align: right;">
            <%= @detail[:score]?link_to_if(person[:user_id] == current_user.id || current_user.is_admin?, @detail[:score], submission_path(@detail[:sub_id])):"-" %>
          </span>
          <span style="float: left; width: 3em; text-align: right;">
            (<%= link_to_if person[:user_id] == current_user.id || current_user.is_admin?, @detail[:count]?@detail[:count]:0, :controller => "submissions", :by_user => person[:user_id], :by_problem => prob.id %>)
          </span>
        </td>
      <% end %>
      <td align="right"> <%= person[:total_score] %> </td>
      <td> <%= person[:time_taken].to_s.split('.')[0] %> </td>
      <td align="right"> <%= person[:rank] %> </td>
    </tr>
  <% end %>
</table>
<br />

<b>Problems</b>
<table class="main_table">
  <tr>
    <th> Name </th>
    <th> Your Score </th>
    <th> Correct Solutions </th>
  </tr>

  <% @problems.each do |problem| %>
    <tr>
      <td> <%= link_to problem.title, problem_path(problem) %> </td>
      <td> <%= @contest.problem_score(current_user, problem) %> </td>
      <td> <%= @contest.num_solved(problem) %> </td>
    </tr>
  <% end %>
</table>
<br />
<% if current_user.is_admin? %>
  <%= render 'admin' %>
<% end %>

<div id="footer">
  <%= link_to 'Edit', edit_contest_path(@contest) %> |
  <%= link_to 'Back', contests_path %>
</div>
