
<h1> Contest Report: <%= @contest.title %> </h1>

<p>
<%= @contest.num_competitors %> people competed in this contest.
</p>

<p>
  <b>Start time:</b>
  <%= @contest.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @contest.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @contest.duration %>
</p>

<p>
<b> High Scorers: </b>
<table>
  <tr>
    <th> User </th>
    <th> Score </th>
    <th> Placing </th>
  </tr>

  <% @high_scorers.each do |person| %>
    <tr>
      <td> <%= User.find(person[:user]).email %> </td>
      <td> <%= person[:score] %> </td>
      <td> <%= person[:placing] %> </td>
    </tr>
  <% end %>
</table>
<p>

<p>
<b> Problems: </b>
<table>
  <tr>
    <th> Name </th>
    <th> Your Score </th>
    <th> Correct Solutions </th>
  </tr>

  <% @problems.each do |problem| %>
    <tr>
      <td> <%= link_to problem.title, problem_path(problem) %> </td>
      <td> <%= @contest.problem_score(current_user, problem) %> </td>
      <td> <%= @contest.num_solved(problem) %> </td>
    </tr>
  <% end %>
</table>
</p>

<% if current_user.is_admin %>
  <%= render 'admin' %>
<% end %>

<div id="footer">
  <%= link_to 'Edit', edit_contest_path(@contest) %> |
  <%= link_to 'Back', contests_path %>
</div>
