<% if !@contest.ended? %>
  <script type="text/javascript">
  <!--
  <% if !@contest.started? && !@contest.start_time.nil? %>
    window.setTimeout("window.location.reload(true);", <%= ((@contest.start_time-Time.now())*1000).round %>);
  <% elsif @contest.is_running? # contest currently running!!! %>
    window.setTimeout("window.location.reload(true);", 60000);
  <% end %>
  //-->
  </script>
<% end %>
<% show_scoreboard = @contest.live_scoreboard || @contest.ended? || policy(@contest).inspect? %>
<% if !@contest.started? %>
  <em>The contest has not started yet.</em>
<% elsif !(show_scoreboard || (user_signed_in? && @contest.has_competitor?(current_user))) %>
  <em>The scoreboard is hidden until the end of the contest.</em>
<% else %>
  <% if @contest.only_rank_official_contestants && show_scoreboard %>
    <div style="float:right">
      <input type="checkbox" id="show_unofficial" onclick="toggle_unofficial()">
      <label for="show_unofficial">Show Unofficial Contestants</label>
    </div>
  <% end %>
  <h2><%= @contest.finalized? ? "Final Results" : "Preliminary Results" %></h2>
  <table class="main_table">
    <thead>
      <tr>
        <th style="width:1%; text-align: right"> # </th>
        <th style="width:1%"></th>
        <th>Username</th>
        <% @contest.problem_set.problems.each_with_index do |problem, prob_num|%>
          <th >
            <% if policy(@contest).show_details? %>
              <%= link_to problem.name, problem_path(problem) %>
            <% else %>
              <% prob_num += 1 %>
              Problem <% while !prob_num.zero? %><% prob_num, rem = (prob_num - 1).divmod(26) %><%= ('A'..'Z').to_a[rem] %><% end %>
            <% end %>
            (<%= @weighting[problem.id] %>)
          </th>
        <% end %>
        <th style="width:1%; text-align: right"> Score </th>
        <th style="width:1%"> Time </th>
      </tr>
    </thead>
    <tbody>
      <% rank = 1 %>
      <% num_unofficial = 0 %>
      <% previous_record = @scoreboard.first %>
      <% @scoreboard.each_with_index do |record,index| %>
        <% next unless show_scoreboard || (user_signed_in? && record.user && record.user.id == current_user.id) # hide row unless permitted to view %>
        <% is_unofficial = @contest.only_rank_official_contestants && (record.school.nil? || record.school_year.nil?) %>
        <tr class="<% if user_signed_in? && record.user && record.user.id == current_user.id %>emphasized<% end %><% if is_unofficial %> unofficial<% end %>">
          <% num_unofficial += 1 if is_unofficial %>
          <% rank = index + 1 - num_unofficial unless previous_record.score == record.score && previous_record.time_taken == record.time_taken %>
          <% previous_record = record %>
          <td style="text-align: right"> <%= rank unless is_unofficial || !show_scoreboard %> </td>
          <td style="padding-left: 0; padding-right: 0;">
            <%= flag_list(24){ flag(record.country_code.downcase, record.country_name, title: true) } if record.country_code %>
          </td>
          <td>
            <% if record.user %>
              <%= link_to handle(record.user), record.user %>
            <% else %>
              <%= "Deleted User ID #{record[:user_id]}" %>
            <% end %>
          </td>
          <% link_to_submissions = user_signed_in? && record.user && (record.user.id == current_user.id || current_user.is_admin?) %>
          <% @problems.each do |prob|%>
            <td>
              <span style="float: left; width: 2em; text-align: right;">
                <%= record["score_#{prob.id}"].nil? ? "-":link_to_if(link_to_submissions, record["score_#{prob.id}"], submission_path(record["sub_#{prob.id}"])) %>
              </span>
              <span style="float: left; width: 2.5em; text-align: right; font-size: 75%; line-height: 90%;">
                <%= raw record["score_#{prob.id}"].nil? ? "&nbsp;":"#{record["attempt_#{prob.id}"].to_i.ordinalize}&nbsp;<br />try" %>
              </span>
              <span style="float: left; width: 2.5em; text-align: right;">
                (<%= link_to_if link_to_submissions, (record["attempts_#{prob.id}"] || 0), :controller => "submissions", :by_user => record[:user_id], :by_problem => prob.id %>)
              </span>
            </td>
          <% end %>
          <td style="text-align: right"> <%= record.score %> </td>
          <td> <%= format("%d:%02d:%02d",record.time_taken.to_i/3600,record.time_taken.to_i/60%60,record.time_taken.to_i%60) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<script>
  function toggle_unofficial() {
    show_unofficial_contestants = document.getElementById("show_unofficial").checked;
    unofficial = document.getElementsByClassName("unofficial");
    for (let row of unofficial) {
      if (row.classList.contains("emphasized")) continue  // always show current user
      // row.style.visibility = show_unofficial_contestants ? "visible" : "collapse";  // has issues on safari
      row.style.display = show_unofficial_contestants ? "table-row" : "none";  // can cause column widths to change
    }
    localStorage.setItem("show_unofficial", JSON.stringify(show_unofficial_contestants));
  }

  document.getElementById("show_unofficial").checked = JSON.parse(localStorage.getItem("show_unofficial"));
  toggle_unofficial();  // run on page load to match checkbox state
</script>
