<% if !@contest.ended? %>
  <script type="text/javascript">
  <!--
  <% if !@contest.started? && !@contest.start_time.nil? %>
    window.setTimeout("window.location.reload(true);", <%= ((@contest.start_time-Time.now())*1000).round %>);
  <% elsif @contest.is_running? # contest currently running!!! %>
    window.setTimeout("window.location.reload(true);", 60000);
  <% end %>
  //-->
  </script>
<% end %>
<% if !@contest.started? %>
  <em>The contest has not started yet.</em>
<% else %>
  <h2><%= @contest.finalized? ? "Final Results" : "Preliminary Results" %></h2>

  <table class="main_table" >
    <thead>
      <tr>
        <th style="min-width: 25%;"> User </th>
        <% @contest.problem_set.problems.each_with_index do |problem, prob_num|%>
          <th style="min-width: 6em;">
            <% if policy(@contest).show_details? %>
              <%= link_to problem.name, problem_path(problem) %>
            <% else %>
              <% prob_num += 1 %>
              Problem <% while !prob_num.zero? %><% prob_num, rem = (prob_num - 1).divmod(26) %><%= ('A'..'Z').to_a[rem] %><% end %>
            <% end %>
            (<%= @weighting[problem.id] %>)
          </th>
        <% end %>
        <th style="text-align: right"> Score </th>
        <th> Time </th>
        <th> Rank </th>
      </tr>
    </thead>
    <tbody>
      <% median = @scoreboard[@scoreboard.length/2-1] %>
      <% rank = 1 %>
      <% previous_record = @scoreboard.first %>
      <% @scoreboard.each_with_index do |record,index| %>
        <% if !user_signed_in? or record.user && record.user.id != current_user.id && !policy(@contest).inspect? %>
          <% next if record.score < median.score || (record.score == median.score && record.time_taken > median.time_taken) # no permission to view %>
        <% end %>
        <tr <% if user_signed_in? && record.id==current_user.id %> class="emphasized"<% end %>>
          <td>
            <% if record.user %>
              <%= link_to handle(record.user), record.user %>
            <% else %>
              <%= "Deleted User ID #{record[:user_id]}" %>
            <% end %>
          </td>
          <% link_to_submissions = user_signed_in? && (record.id == current_user.id || current_user.is_admin?) %>
          <% @problems.each do |prob|%>
            <td style="min-width: 5em;">
              <span style="float: left; width: 2em; text-align: right;">
                <%= record["score_#{prob.id}"].nil? ? "-":link_to_if(link_to_submissions, record["score_#{prob.id}"], submission_path(record["sub_#{prob.id}"])) %>
              </span>
              <span style="float: left; width: 2.5em; text-align: right; font-size: 75%; line-height: 90%;">
                <%= raw record["score_#{prob.id}"].nil? ? "&nbsp;":"#{record["attempt_#{prob.id}"].to_i.ordinalize}&nbsp;<br />try" %>
              </span>
              <span style="float: left; width: 2.5em; text-align: right;">
                (<%= link_to_if link_to_submissions, (record["attempts_#{prob.id}"] || 0), :controller => "submissions", :by_user => record[:user_id], :by_problem => prob.id %>)
              </span>
            </td>
          <% end %>
          <td style="text-align: right"> <%= record.score %> </td>
          <td> <%= format("%d:%02d:%02d",record.time_taken.to_i/3600,record.time_taken.to_i/60%60,record.time_taken.to_i%60) %> </td>
          <% rank = index + 1 unless previous_record.score == record.score and previous_record.time_taken == record.time_taken %>
          <% previous_record = record %>
          <td align="right"> <%= rank %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
