<script>
  $(document).ready(function(){
    var datesec = <%= @contest_relation.finish_at.to_i %>;
    var date = new Date(Number(datesec) * 1000);
    $("#countDownTimer").countdown({until: date, layout: '{sn} {sl}, {mn} {ml}, {hn} {hl}, and {dn} {dl} remaining'});
  });
</script>

<h1>
Contest: <%= @contest.title %>
</h1>

<div id="countDownTimer"></div>

<p>
<b>Started at:</b>
<%= @contest_relation.started_at %>
</p>

<p>
<b>Duration:</b>
<%= @contest.duration %>
</p>

<p>
<b>User:</b>
<%= @contest.user_id %>
</p>

<p>
<b> Problems: </b>
<table>
  <tr>
    <th> Name </th>
    <th> Score </th>
  </tr>

  <% @problems.each do |problem| %>
    <tr>
      <td> <%= link_to problem.title, problem_path(problem) %> </td>
      <td> <%= @contest.problem_score(current_user, problem) %> </td>
    </tr>
  <% end %>
</table>
</p>

<% form_tag( add_contest_group_path(:contest_id => @contest), :method => :put) do %>
  <%= collection_select :contest, :group_ids, @groups, :id, :name %>
  <%= submit_tag "Give group access" %>
<% end %>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
