<% if !@contest_message.nil? %>
  <p><%= @contest_message %></p>
<% end %>

<p>
<table class="main_table" >
  <thead>
    <tr>
      <th>Problem</th>
      <th>Points</th>
      <th>Score</th>
      <th># Correct</th>
    </tr>
  </thead>
  <tbody>
    <% @problem_associations.each do |problem_association| %>
      <% problem = problem_association.problem %>
      <tr>
        <td><%= link_to problem.name, problem_path(problem) %></td>
        <td><%= problem_association.weighting %></td>
        <td><%= progress_bar(@contest.problem_score(current_user, problem), problem_association.weighting) %></td>
        <td><%= @contest.num_solved(problem) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

