<% if !@contest_message.nil? %>
  <p><%= @contest_message %></p>
<% end %>

<table class="main_table" >
  <thead>
    <tr>
      <th width="35%">Problem</th>
      <th width="15%">Points</th>
      <% if @contest.has_competitor?(current_user) %>
        <th width="25%">Score</th>
      <% end %>
      <th width="25%"># Correct</th>
    </tr>
  </thead>
  <tbody>
    <% @problem_associations.each do |problem_association| %>
      <% problem = problem_association.problem %>
      <tr>
        <td><%= link_to problem.name, problem_path(problem) %></td>
        <td><%= problem_association.weighting %></td>
        <% if @contest.has_competitor?(current_user) %>
          <td><%= progress_bar(@contest.problem_score(current_user, problem), problem_association.weighting) %></td>
        <% end %>
        <td><%= (@contest.live_scoreboard || @contest.ended? || policy(@contest).inspect?) ? @contest.num_solved(problem) : "?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

