<% if policy(@problem).inspect? %>
  <b>Users that have submitted <%= link_to "(all submissions)", :controller => "submissions", :by_problem => @problem %>:</b>
  <table class="main_table">
    <thead>
      <tr>
        <th> User </th>
        <th> Score </th>
      </tr>
    </thead>
    <tbody>
      <% @all_subs.each do |sub| %>
  	<% if sub.user != nil %>
          <tr>
            <td> <%= link_to handle(sub.user), sub.user %> </td>
            <td> <%= progress_bar(sub.score,sub) %><div style="display: inline-block; vertical-align: middle; text-align: right; width: 2.5em;">(<%= link_to @sub_count[sub.user], :controller => "submissions", :by_user => sub.user, :by_problem => @problem %>)</div> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br />
<% end %>
<% if (policy(@problem).use?) && !@problem_sets.nil? && @problem_sets.size > 0 %>
  <p>
  <b> Problem Sets: </b>
  <% if @problem.problem_sets.size > 0 %>
    <ul>
      <% @problem.problem_sets.each do |ps| %>
        <li>
          <%= link_to ps.name, ps %> -
          <%= link_to 'Remove', remove_from_problem_set_problem_path(@problem, :problem_set_id => ps.id), :method => "put" %>
        </li>
      <% end %>
    </ul>
  <% else %>
     <br>
     This problem in not in any problem sets.
  <% end %>
  <% problem_sets_not_in = @problem_sets.reject {|ps| @problem.problem_sets.include? ps} %>
  <% if problem_sets_not_in.size > 0 %>
    <%= form_tag(problem_problem_set_add_path, :method => :put) do %>
      <%= hidden_field_tag :problem_id, @problem.id %>
      <%= collection_select :problem, :problem_set_ids, problem_sets_not_in, :id, :name %>
      <%= submit_tag 'Add to problem set' %>
    <% end %>
  <% else %>
      A member of all problem sets.
  <% end %>
  </p>
<% end %>
<% if policy(@problem).inspect? %>
  <p>
  <b> Evaluator: </b>
  <% if @problem.evaluator %>
    <%= link_to @problem.evaluator.name, @problem.evaluator %>
    <% if policy(@problem.evaluator).inspect? # privilege required to see evaluator source %>
      <%= predisplay @problem.evaluator.source, language: :sh %>
    <% end %>
  <% else %>
    Default evaluator
  <% end %>
  </p>
<% end %>

