<h1>Editing problem</h1>

<%= render 'form' %>

<% form_tag( upload_zipped_test_case_path(:problem_id => @problem), :multipart => true) do %>
  <%= file_field_tag 'test_cases_zip' %>
  <%= submit_tag 'Add zipped test cases' %>
<% end %>

<%= link_to 'Show test cases', test_cases_path(:problem => @problem.id) %> |
<%= link_to 'Add test case', new_test_case_path(:problem => @problem.id) %> |
<%= link_to 'Show', @problem %> |
<%= link_to 'Back', problems_path %>
