<% content_for :title, "Problems" %>
<div id="main-page-title-box"><h1>Problems</h1></div>
<table class="main_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Input</th>
      <th>Output</th>
      <th>Memory limit</th>
      <th>Time limit</th>
      <th>User</th>
      <th>Score</th>
      <th></th>
      <% if permitted_to? :update, :problems %>
        <th></th>
      <% end %>
      <% if permitted_to? :destroy, :problems %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @problems.each do |problem| %>
    <tr>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= problem.title %></td>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= problem.input || "stdin" %></td>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= problem.output || "stdout" %></td>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= problem.memory_limit %></td>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= problem.time_limit %></td>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= problem.owner_id %></td>
    <td onClick="location.href='<%= problem_path(problem) %>'"><%= progress_bar(problem.score) if problem.score %></td>
    <td><%= link_to 'Show', problem %></td>
    <% if permitted_to? :update, :problems %>
      <td><%= link_to 'Edit', edit_problem_path(problem) if permitted_to? :update, problem %></td>
    <% end %>
    <% if permitted_to? :destroy, :problems %>
      <td><%= link_to 'Destroy', problem, :data => { :confirm => 'Are you sure?' }, :method => :delete if permitted_to? :destroy, problem %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<% if permitted_to? :create, :problems %>
  <%= link_to 'New Problem', new_problem_path %>
<% end %>
