<% content_for :title, "Problems" %>
<div id="main-page-title">Problems</div>
<table class="main_table">
  <tr>
    <th>Title</th>
    <th>Input</th>
    <th>Output</th>
    <th>Memory limit</th>
    <th>Time limit</th>
    <th>User</th>
    <th>Score</th>
    <th></th>
    <% if current_user.is_admin %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @problems.each do |problem| %>
    <tr>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.title %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.input %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.output %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.memory_limit %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.time_limit %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.user_id %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.score %></td>
    <td><%= link_to 'Show', problem %></td>
    <% if current_user.is_admin %>
      <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
      <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.is_admin %>
  <%= link_to 'New Problem', new_problem_path %>
<% end %>
