<% content_for :title, "Problems" %>
<div id="main-page-title">Problems</div>
<table class="main_table">
  <tr>
    <th>Title</th>
    <th>Input</th>
    <th>Output</th>
    <th>Memory limit</th>
    <th>Time limit</th>
    <th>User</th>
    <th>Score</th>
    <th></th>
    <% if can? :update, Problem %>
      <th></th>
    <% end %>
    <% if can? :destroy, Problem %>
      <th></th>
    <% end %>
  </tr>
<% @problems.each do |problem| %>
    <tr>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.title %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.input %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.output %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.memory_limit %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.time_limit %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= problem.owner_id %></td>
    <td onClick="location.href='<%= url_for(problem) %>'"><%= progress_bar(problem.score) if problem.score %></td>
    <td><%= link_to 'Show', problem %></td>
    <% if can? :update, Problem %>
      <td><%= link_to 'Edit', edit_problem_path(problem) if can? :update, problem %></td>
    <% end %>
    <% if can? :destroy, Problem %>
      <td><%= link_to 'Destroy', problem, :data => { :confirm => 'Are you sure?' }, :method => :delete if can? :destroy, problem %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Problem %>
  <%= link_to 'New Problem', new_problem_path %>
<% end %>
