<h1>Listing problems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Statement</th>
    <th>Input</th>
    <th>Output</th>
    <th>Memory limit</th>
    <th>Time limit</th>
    <th>User</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.title %></td>
    <td><%= problem.statement %></td>
    <td><%= problem.input %></td>
    <td><%= problem.output %></td>
    <td><%= problem.memory_limit %></td>
    <td><%= problem.time_limit %></td>
    <td><%= problem.user_id %></td>
    <td><%= problem.get_score(current_user) %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
