<div class="statement">
  <%= markdown_parse(@problem.statement) %>
</div>
<ul class="samples">
  <% @problem.sample_cases.each_with_index do |kayse, index| %>
    <li>
      <div class="input">
        <h3>Sample Input <%= index+1 %></h3>
        <%= predisplay(kayse.input, type: :kbd) %>
      </div>
      <div class="output">
        <h3>Sample Output <%= index+1 %></h3>
        <%= predisplay(kayse.output, type: :samp) %>
      </div>
    </li>
  <% end %>
</ul>

<br />

<%= render 'admin' %>

