<div class="statement">
  <%= raw Loofah.fragment(markdown_parse(@problem.statement)).scrub!(:escape).scrub!(Loofah::Scrubbers::NoForm.new).scrub!(Loofah::Scrubbers::MathJax.new) %>
</div>
<ul class="samples">
  <% public_cases = @problem.test_cases.where( :id => @problem.test_sets.joins(:test_case_relations).where( :visibility => [TestSet::VISIBILITY[:public], TestSet::VISIBILITY[:sample]] ).select(:test_case_relations => :test_case_id)).order(:id) %>
  <% public_cases.each_with_index do |kayse, index| %>
    <li>
      <div class="input">
        <h3>Sample Input <%= index+1 %></h3>
        <%= predisplay(kayse.input, type: :kbd) %>
      </div>
      <div class="output">
        <h3>Sample Output <%= index+1 %></h3>
        <%= predisplay(kayse.output, type: :samp) %>
      </div>
    </li>
  <% end %>
</ul>

<br />

<%= render 'admin' %>

