<h1>
<%= @problem.title %>
</h1>

<p>
<%= markdown_parse(@problem.statement) %>
</p>

<p>
<b>Input File:</b>
<%= @problem.input %>
</p>

<p>
<b>Output File:</b>
<%= @problem.output %>
</p>

<p>
<b>Memory limit:</b>
<%= @problem.memory_limit %> megabytes
</p>

<p>
<b>Time limit:</b>
<%= @problem.time_limit %> seconds
</p>

<p>
<b>Your submissions:</b>
<table>
  <tr>
    <th>Date</th>
    <th>Score</th>
  </tr>

  <% @submissions.each do |sub| %>
    <tr>
      <td> <%= link_to sub.created_at.strftime("%b %d %Y, %H:%M"), sub %> </td>
      <td> <%= sub.score %> </td>
    </tr>
  <% end %>
</table>
</p>

<p>
<b> New submission: </b>
<%= render 'submissions/form' %>
</p>

<% if current_user.is_admin %>
  <%= render 'admin' %>
<% end %>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
