<% if @submission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
    <ul>
    <% @submission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h2>Upload file</h2>
<%= form_for @submission, :html => {:multipart => true}, :url => submit_problem_path(@problem) do |f| %>
  <div class="subfield">
    Language: 
    <%= f.select :language_id, grouped_options_for_select(Language.grouped_submission_options, @submission.language_id || Language.default.id) %>
  </div>
  <div class="field">
    Source file: 
    <%= f.file_field :source_file %>
  </div>
  <div class="subactions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
<% if policy(@problem).submit_source? %>
  <br>
  <hr>
  <br>
  <h2>Paste code</h2>
  <%= form_for @submission, :url => submit_problem_path(@problem) do |f| %>
    <div class="subfield">
      Language: 
      <%= f.select :language_id, grouped_options_for_select(Language.grouped_submission_options, @submission.language_id || Language.default.id) %>
    </div>
    <div class="subactions">
      <%= f.submit 'Submit' %>
    </div>
    <div class="field">
      <%= f.label :source %><br />
      <%= f.text_area :source, :style => "width: 100%", :cols => 60 %>
    </div>
  <% end %>
<% end %>
