<p>
<%= form_tag( import_problem_path(@problem), :multipart => true) do %>
  <%= radio_button_tag(:upload, "replace", :checked => 'yes') %>
  <%= label_tag(:upload_replace, "Replace existing test cases with upload") %><br />
  <span style="margin-left: 8em;">or</span><br />
  <%= radio_button_tag(:upload, "merge") %>
  <%= label_tag(:upload_merge, "Merge with existing test cases") %><br />

  <%= label_tag(:importer) %>
  <%= select_tag(:importer, options_for_select(Problems::TestCaseImportOptions)) %><br />

  <%= file_field_tag 'import_file', :id => "file-form"%>
  <%= submit_tag 'Upload zipped test cases' %>
<% end %>
</p>

<%= link_to 'Download test cases', export_problem_path(@problem) %>
<br>
<br>

<b>Test Cases:</b><br>
<table style="width: 100%; table-layout: fixed;">
  <tr><th style="width: 20%">Name</th><th>Input</th><th>Output</th></tr>
<% @problem.test_cases.each do |kase| %>
  <tr>
    <td><%= kase.name %></td>
    <td><%= predisplay kase.input.slice(0...200).split("\n").take(10).join("\n") %></td>
    <td><%= predisplay kase.output.slice(0...200).split("\n").take(10).join("\n") %></td>
  </tr>
<% end %>
</table>

<b>Test Sets:</b><br>
<table style="width: 100%;">
  <tr><th>Name</th><th>Points</th><th>Cases</th></tr>
<% @problem.test_sets.each do |set| %>
  <tr>
    <td><%= set.name %><%= " (prerequisite)" if set.prerequisite? %></td>
    <td><%= set.points %></td>
    <td><%= set.test_cases.pluck(:name).to_json %></td>
  </tr>
<% end %>
</table>
