<% @colspan = 3 %>
<table class="main_table hoverable">
  <thead>
    <tr>
      <th width="100%">Name</th>
      <th>Progress</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @problem_set_associations.each do |association| %>
  <% problem_set = association.problem_set %>
  <% problems = problem_set.problems.score_by_user(current_user.id) %>
  <tr class="subheading">
    <td onClick="toggle_height('<%= "problemset#{problem_set.id}problems" %>');"><%= association.name %> <span style="font-weight: normal; font-style: italic;">(<%= problem_set.problems.length %> problem<%= problem_set.problems.length==1?"":"s" %>)</span></td>
    <td><%= progress_bar(problems.inject(0){|sum,x| sum+(x.score.to_i||0)}/problems.length) if problems.length>0 %></td>
    <td><%= link_to 'Show', problem_set if policy(problem_set).show? %></td>
  </tr>
  <tr>
    <td colspan="<%= @colspan %>" style="padding: 0px;">
      <div id="problemset<%= problem_set.id %>problems" style="display: none; overflow-y: hidden;">
        <table class="main_table hoverable selectable" onClick="event.cancelBubble = true;">
          <tbody>
            <% problems.each do |problem| %>
              <tr>
                <td width="100%">&nbsp;&nbsp;&nbsp;<%= link_to problem.name, problem %></td>
                <td><%= progress_bar(problem.score) %></td>
                <td><%= link_to 'Show', problem %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>

<% end %>
  </tbody>
</table>

