<% content_for :title, "Editing #{@group.name}" %>
<% toolbox_push :back, @group %>

<%= render 'form' %>

<b> Problem sets this group has access to:</b>
<% @group.problem_sets.each do |problem_set| %>
  <li>
  <%= problem_set.title %> (<%= link_to("remove", remove_problem_set_group_path(@group, :problem_set_id => problem_set.id ), :method => "put") %>)
  </li>
<% end %>
</p>

<b> Contests this group has access to:</b>
<% @group.contests.each do |contest| %>
  <li>
  <%= contest.title %> (<%= link_to("remove", remove_contest_group_path(@group, :contest_id => contest.id ), :method => "put") %>)
  </li>
<% end %>
</p>
