<% content_for :title, "Groups" %>
<div id="main-page-title-box"><h1>Listing groups</h1></div>

<table class="main_table hoverable selectable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Membership</th>
      <th></th>
      <% if permitted_to? :update, Group %>
        <th></th>
      <% end %>
      <% if permitted_to? :destroy, Group %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= Group::MEMBERSHIP[group.membership].capitalize %></td>
    <td><%= link_to 'Show', group %></td>
    <% if permitted_to? :update, Group %>
      <td><%= link_to 'Edit', edit_group_path(group) if permitted_to? :update, group %></td>
    <% end %>
    <% if permitted_to? :destroy, Group %>
      <td><%= link_to 'Destroy', group, :data => { :confirm => 'Are you sure?' }, :method => :delete if permitted_to? :destroy, group %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<% if permitted_to? :create, :groups %>
  <%= link_to 'New Group', new_group_path %>
<% end %>
