
<table class="main_table">
  <thead>
    <tr class="centered_cells">
      <th rowspan="2">Member</th>
      <% @problem_set_associations.each do |association| %>
        <% problem_set = association.problem_set %>
        <% next if problem_set.problems.count == 0 %>
        <th colspan="<%= problem_set.problems.count*2 %>"><%= association.name %></th>
      <% end %>
    </tr>
    <tr class="centered_cells">
      <% @problem_set_associations.each do |association|%>
        <% association.problem_set.problems.each do |problem| %>
          <th colspan="2" style="font-size: smaller;padding:2px"><div style="overflow: hidden; width: 55px; word-wrap; break-word; word-break: break-all; max-height: 50px"><%= problem.name %></div></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to handle(member), member %></td>
        <% @problem_set_associations.each do |association|%>
          <% association.problem_set.problem_associations.each do |problem_association| %>
            <% problem = problem_association.problem %>
            <% weight = problem_association.weighting %>
            <% relation = @scores[member.id][problem.id] %>
            <td class="tight">
              <% if relation.try(:last_viewed_at) %>
                <%= progress_bar(relation.try(:submission).try(:weighted_score, weight), weight, relation.try(:submission), size: :compact) %>
              <% end %>
            </td>
            <td class="tight" style="text-align: right;padding-left:5px;padding-right:5px;">
              <% if policy(@group).inspect? && relation.try(:last_viewed_at) %>
                (<%= link_to((relation.try(:submissions_count) || 0), :controller => "submissions", :by_user => member, :by_problem => problem) %>)
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
