<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>

<b> Users in this group:</b>
<% @group.users.each do |user| %>
  <li>
  <%= user.email %>
  </li>
<% end %>
</p>

<b> Problems this group has access to:</b>
<% @group.problems.each do |problem| %>
  <li>
  <%= problem.title %>
  </li>
<% end %>
</p>

<b> Contests this group has access to:</b>
<% @group.contests.each do |contest| %>
  <li>
  <%= contest.title %>
  </li>
<% end %>
</p>

<%= link_to 'Add yourself', add_user_group_path(@group), :method => :put %> |
<%= link_to 'Remove yourself', remove_user_group_path(@group), :method => :put %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
