<% content_for :title, @group.name %>
<b>Name:</b>
<%= @group.name %>
<br />
<br />

<b>Users in this group:</b>
<% @group.users.each do |user| %>
  <li>
  <%= user.email %>
  </li>
<% end %>
<br />

<b>Problem sets this group has access to:</b>
<% @group.problem_sets.each do |problem_set| %>
  <li>
  <%= problem_set.title %>
  </li>
<% end %>
<br />

<b>Contests this group has access to:</b>
<% @group.contests.each do |contest| %>
  <li>
  <%= contest.title %>
  </li>
<% end %>
<br />

<b>Problems this group has access to:</b>
<% Problem.by_group(@group.id).each do |problem| %>
  <li>
  <%= problem.title %>
  </li>
<% end %>
<br />


<%= link_to 'Join group', join_group_path(@group), :method => :put if can? :join, @group %>
<%= link_to 'Leave group', leave_group_path(@group), :method => :put if can? :leave, @group %>
<%= link_to 'Edit', edit_group_path(@group) if can? :update, @group %>
<%= link_to 'Back', groups_path %>
