<% content_for :title, "Editing #{@user.handle}" %>
<h1>Editing user</h1>

<%= render 'form' %>


<b> Roles: </b>

<% @user.roles.each_with_index do |role, i|%><%= ', ' if i > 0 %><%= role.name %> <%= raw "(#{link_to 'remove', remove_role_user_path(@user, :role_id => role.id), :method => "put"})" if (can? :update, @user) && (can? :assign, role) %><% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
