<% content_for :title, "Users" %>
<% if policy(User).su? %>
  <%= render :partial => 'su', :formats => [:js] %>
<% end %>

<table class="main_table hoverable selectable">
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <% if policy(User).inspect? %>
        <th>Name</th>
        <th>Email</th>
      <% end %>
      <th>Roles</th>
      <th>Solved Problems</th>
      <th>Brownie Points</th>
      <th></th>
      <% if policy(User).edit? %>
        <th></th>
      <% end %>
      <% if policy(User).destroy? %>
        <th></th>
      <% end %>
      <% if policy(User).su? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="padding-left: 0; padding-right: 0"><%= flag_list(24){ flag(user.country_code.downcase, user.country_name, title: true) } if user.country_code %></td>
        <td><%= user.username %></td>
        <% if policy(user).inspect? %>
          <td><%= user.name %></td>
          <td>
              <%= user.email %> <span style="color:red;"><%= "(unconfirmed)" if !user.confirmed? %></span>
          </td>
        <% end %>
        <td><%= user.roles.map {|r| r.name}.join(', ') %></td>
        <td><%= user.num_solved %></td>
        <td><%= user.brownie_points %></td>
        <td><%= link_to 'Show', user %></td>
        <% if policy(User).edit? %>
          <td><%= link_to 'Edit', edit_user_path(user) if policy(user).edit? %></td>
        <% end %>
        <% if policy(User).destroy? %>
          <td><%= link_to 'Destroy', user, :data => { :confirm => 'Are you sure?' }, :method => :delete if policy(user).destroy? %></td>
        <% end %>
        <% if policy(user).su? %>
          <td><%= link_to "su", su_user_path(user), :rel => "facebox" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

