<% content_for :title, "Users" %>
<div id="main-page-title">Listing users</div>

<table class="main_table" >
  <tr>
    <th>Username</th>
    <% if can? :inspect, User %>
      <th>Name</th>
      <th>Email</th>
    <% end %>
    <th>Roles</th>
    <th>Solved Problems</th>
    <th>Brownie Points</th>
    <th></th>
    <% if can? :update, User %>
      <th></th>
    <% end %>
    <% if can? :destroy, User %>
      <th></th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <% if can? :inspect, User %>
        <td><%= user.name if can? :inspect, user %></td>
        <td><%= user.email if can? :inspect, user %></td>
      <% end %>
      <td><%= user.roles.map {|r| r.name}.join(', ') %></td>
      <td><%= user.num_solved %></td>
      <td><%= user.brownie_points %></td>
      <td><%= link_to 'Show', user %></td>
      <% if can? :update, User %>
        <td><%= link_to 'Edit', edit_user_path(user) if can? :update, user%></td>
      <% end %>
      <% if can? :destroy, User %>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete if can? :destroy, user %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

