<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin?</th>
    <th>Solved Problems</th>
    <th>Brownie Points</th>
    <th></th>
    <% if current_user.is_admin %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.is_admin %></td>
      <td><%= user.count %></td>
      <td><%= user.brownie_points %></td>
      <td><%= link_to 'Show', user %></td>
      <% if current_user.is_admin %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

