<% content_for :title, "Online users" %>
<table class="main_table hoverable selectable">
  <thead>
    <tr>
      <th>Username</th>
      <% if policy(User).inspect? %>
        <th>Name</th>
      <% end %>
      <th>Last seen</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <% if policy(User).inspect? %>
          <td><%= user.name if policy(user).inspect? %></td>
        <% end %>
        <td><%= "#{distance_of_time_in_words_to_now user.last_seen_at} ago" if user.last_seen_at %></td>
        <td><%= user.last_seen_at %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

