<% content_for :title, "Users" %>
<div id="main-page-title">Online users</div>
<table class="main_table hoverable selectable">
  <thead>
    <tr>
      <th>Username</th>
      <% if permitted_to? :inspect, User %>
        <th>Name</th>
      <% end %>
      <th>Last seen</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <% if permitted_to? :inspect, User %>
          <td><%= user.name if permitted_to? :inspect, user %></td>
        <% end %>
        <td><%= distance_of_time_in_words_to_now user.last_seen_at %> ago</td>
        <td><%= user.last_seen_at %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

