<% content_for :title, @user.handle %>
<img src="<%= @user.avatar_url %>" style="float: left;">
<div style="height: 100px; padding: 25px; padding-left: 200px;">
  <b>Username:</b>
  <%= @user.username %>
  <br />
  <% if can? :inspect, @user %>
    <b>Name:</b>
    <%= @user.name %>
    <br />

    <b>Email:</b>
    <%= @user.email %>
    <br />
  <% end %>

  <b>Brownie Points:</b>
  <%= @user.brownie_points %>
  <br />
  <br />
</div>

<b> <%= @solved_problems.size %> solved problems: </b>
<ul>
<% @solved_problems.each do |prob| %>
  <li>
  <%= link_to prob.title, prob %>
  </li>
<% end %>
</ul>
<br />

<%= render 'admin' %>

<%= link_to 'Edit', edit_user_path(@user) if can? :update, @user %>
<%= link_to 'Back', users_path %>
