<h2>Edit <%= params[:type] %> <%#= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :type => params[:type]), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <% if params[:type] == 'username' %>
    <p><%= f.label :username %><br />
    <%= resource.can_change_username ? f.text_field(:username) : resource.username %>
  <% elsif params[:type] == 'email' %>
    <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>
  <% elsif params[:type] == 'password' %>
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></p>
  <% end %>
  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>
<% if (!resource.unconfirmed_email.nil?) || !resource.confirmed? %>
  <h3>Confirm email</h3>
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.email_field :email, :style => "display:none;" %>
    <div><%= f.submit "Resend confirmation instructions to #{resource.unconfirmed_email || resource.email}" %></div>
  <% end %>
<% end %>

<%= link_to "Back", :back %>
