<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @setting.key %>
</p>

<p>
  <b>Value:</b>
  <%= @setting.value %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
