<%= form_for(@contest_relation) do |f| %>
  <% if @contest_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest_relation.errors.count, "error") %> prohibited this contest_relation from being saved:</h2>

      <ul>
      <% @contest_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :contest_id %><br />
    <%= f.text_field :contest_id %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
