<%= form_for(@test_set) do |f| %>
  <% if @test_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_set.errors.count, "error") %> prohibited this test_set from being saved:</h2>

      <ul>
      <% @test_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem_id %><br />
    <%= f.text_field :problem_id %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
