<%= form_for(@submission, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :problem_id, :value => @problem.id %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.file_field :source %>
  </div>
  <div class="field">
    <%= f.select :language, ['C++', 'C', 'Haskell', 'Python']%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
