<%= form_for(@submission, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :problem_id, :value => @problem.id %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.select :language_id, grouped_options_for_select(Language.grouped_submission_options, @submission.language_id) %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.file_field :source %>
  </div>
  <div class="field">
    <%= f.label :classification %><br>
    <%= f.select :classification, policy(@submission).allowed_classifications.map{ |i| [Submission::CLASSIFICATION[i].to_s.humanize, i] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
