<%= will_paginate @submissions %>
<% if @submissions.length == 0 %>
  <% if current_user.id == params[:by_user] %>
    You have no submissions.
  <% else %>
    No submissions found.
  <% end %>
<% else %>

  <% @table_columns = 4 %>
  <table class="main_table hoverable">
    <thead>
      <tr>
        <th>Submission</th>
        <th>Language</th>
        <th>Score</th>
        <% if params[:by_user].nil?
             @table_columns+=1
        %>
          <th>User</th>
        <% end %>
        <% if params[:by_problem].nil?
             @table_columns+=1
        %>
          <th>Problem</th>
        <% end %>
        <th></th>
        <% if policy(Submission).update?
             @table_columns += 1
        %>
          <th></th>
        <% end %>
        <% if policy(Submission).destroy?
             @table_columns += 1
        %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.created_at.strftime("%b %d %Y, %H:%M") %>
        <td><%= submission.language.name %></td>
      <td><%= submission.score %></td>
      <% if params[:by_user].nil? %>
        <td><% if submission.user %><%= link_to handle(submission.user), submission.user %><% end %></td>
      <% end %>
      <% if params[:by_problem].nil? %>
        <td><%= link_to submission.problem.name, submission.problem %></td>
      <% end %>
      <td><%= link_to 'Show', submission %></td>
      <% if policy(submission).update? %>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
      <% end %>
      <% if policy(submission).destroy? %>
        <td><%= link_to 'Destroy', submission, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
<%= will_paginate @submissions %>

