<% content_for :title, "Submission" %>
<% if @submission.judge_output == nil %>
  <p>
  <b> This submission has not finished judging. Refresh this page in a minute or two to see the submission's score.
  </b>
  </p>
<% end %>
<% if current_user.is_admin %>
<p>
<%= link_to "Rejudge", rejudge_submission_path(@submission), :confirm => "Are you sure?", :method => "post" %>
</p>
<% end %>
<p>
<b>Problem:</b>
<%= link_to @submission.problem.title, @submission.problem %>
</p>

<p>
<b>Language:</b>
<%= @submission.language %>
</p>

<p>
<b>Score:</b>
<%= @submission.score %>
</p>

<p>
<b>Detailed Output:</b>
<%= simple_format(@submission.judge_output) %>
</p>

<p>
<b>Source:</b>
<pre><%= @submission.source %></pre>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', @submission.problem %>
