<% content_for :title, "Submission" %>
<%= toolbox_push :edit, edit_submission_path(@submission) if policy(@submission).edit? %> 
<%= toolbox_push :delete, @submission if policy(@submission).destroy? %>
<%= toolbox_push :back, @submission.problem %>

<%= stylesheet_link_tag "submission" %>

<% if @submission.score == nil %>
  <p>
    <b>This submission has not finished judging. Refresh this page in a minute or two to see the submission's score.</b>
  </p>
<% else %>
  <div id="submission_judged" class="score_<%= (@submission.score/10).to_i %>x">
    <%= @submission.score %>% - <%= case
                                   when @submission.score == 100; "All done. Nice."
                                   when @submission.score >= 80; "Close, but not quite."
                                   when @submission.score >= 40; "There's room for improvement"
                                   else; "Sorry, try again."
                                   end
                               %>
  </div>
<% end %>
<p><%= link_to "Rejudge", rejudge_submission_path(@submission), :data => { :confirm => 'Are you sure?' }, :method => "post" if policy(@submission).rejudge? %></p>

<p>
<b>Problem:</b>
<%= link_to @submission.problem.name, @submission.problem %>
</p>

<p>
<b>Language:</b>
<%= @submission.language.name %>
</p>

<p>
<b>Score:</b>
<%= @submission.score %>
</p>

<p>
<b>User:</b>
<%= link_to @submission.user.username, @submission.user %>
</p>

<% if policy(@submission).inspect? %>
  <p>
  <b>Job:</b>
  <%= link_to_if current_user.is_admin? && $qless.jobs[@submission.job], @submission.job, qless_job_path(@submission.job) %>
  </p>

  <p>
  <b>Classification:</b>
  <%= Submission::CLASSIFICATION[@submission.classification].to_s.humanize %>
  </p>
<% end %>

<% @judge_data = @submission.judge_data %>
<table class="results">
  <% if @judge_data.compiled? %>
    <tbody class="compilation status_<%= @judge_data.compilation.status %>">
      <tr>
        <th class="compile_command" colspan="3">Compilation: <span class="code"><%= @judge_data.compilation.command %></span></th>
        <th class="compile_status"><%= @judge_data.compilation.judgement %></th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td colspan="5"><span class="code"><%= @judge_data.compilation.log %></span></td>
      </tr>
    </tbody>
  <% end %>
</table>
&nbsp;
<table class="results">
  <% if !@judge_data.compiled? || @judge_data.compilation.status == :success %>
    <tbody class="headings">
      <th class="test_name"></th>
      <th>Time</th>
      <th>Memory</th>
      <th>Result</th>
      <th>Score</th>
    </tbody>
    <% sample_ids = @submission.problem.sample_cases.ids %>
    <% sample_sets = 0 %>
    <% @judge_data.test_sets.each_with_index do |(id, set_data), i| %>
      <% is_sample_set = (set_data.test_cases.keys - sample_ids).empty? %>
      <% if is_sample_set then sample_sets += 1 end %>
      <tbody class="test_set status_<%= set_data.status %>">
        <tr>
          <th class="test_name"><%= is_sample_set ? "Sample Set ##{sample_sets}" : "Test Set ##{i+1-sample_sets}" %><%= ' - Prerequisite' if set_data.prerequisite? %></th>
          <th colspan="3">&nbsp;</th>
          <th class="judgement"><%= set_data.judgement %></th>
        </tr>
        <% test_cases = set_data.test_cases.to_a %>
        <% if !is_sample_set then test_cases = test_cases.shuffle(random: Random.new(Random.new(@submission.id+id).rand(@db_settings["submissions/shuffle"].to_i*id))) end %>
        <% test_cases.each_with_index do |(case_id, case_data), j| %>
          <tr class="test_case status_<%= case_data.status %>">
            <td class="test_name">
              <%= is_sample_set ? 'Sample' : 'Case' %> #<%= sprintf("%d.%#{set_data.test_cases.size.to_s.size}d", is_sample_set ? sample_sets : i+1-sample_sets, j+1) %>
              <% if policy(@submission).inspect? || is_sample_set then test_case = @submission.problem.test_cases.find_by_id(case_id) end %>
              <% if policy(@submission).inspect? %>
                <%= " - \"#{test_case.name}\"" %>
              <% end %>
            </td>
            <td class="test_time"><%= case_data.print_time %></td>
            <td class="test_memory"><%= case_data.meta.memory %></td>
            <td class="judgement"><%= case_data.judgement %></td>
            <td></td>
          </tr>
          <% if ![:pending,:cancelled].include?(case_data.status) && (policy(@submission).inspect? || is_sample_set) %>
            <tr class="inspect_test status_<%= case_data.status %>">
              <td colspan="5">
                <% if policy(@submission).inspect? %>
                  <table>
                    <tr>
                      <% if case_data.status == :timeout %>
                        <th>Time (<%= case_data.killed? ? "killed" : "exited" %>):</th><td><%= case_data.meta.print_time %></td>
                      <% end %>
                      <th>Wall time:</th><td><%= case_data.meta.walltime %></td>
                      <% if [:signal, :runtime, :timeout, :memory].include? case_data.status %>
                        <th>Sandbox message:</th><td><%= case_data.meta.status + ": " + case_data.meta.message %></td>
                      <% end %>
                    </tr>
                  </table>
                <% end %>
                <table class="inspect_output">
                  <tr>
                    <th>Input</th><th class="output_stats">Size: <%= number_to_human_size(test_case.input.bytesize) %></th>
                    <th>Actual Output</th>
                    <th class="output_stats">
                      <%= "Size: #{number_to_human_size(case_data.output_size)}" unless case_data.output_size.nil? %>
                    </th>
                    <th>Expected Output</th><th class="output_stats">Size: <%= number_to_human_size(test_case.output.bytesize) %></th>
                    <% evaluation = case_data.evaluator.evaluation %>
                    <% if policy(@submission).inspect? %>
                      <th>Evaluator Log</th><th class="output_stats"><%= "Evaluation: #{evaluation ? sprintf("%.2f",evaluation) : "nil"}/1.00" %></th>
                    <% end %>
                  </tr>
                  <tr>
                    <td colspan="2"><%= predisplay test_case.truncated_input, type: :kbd %></td>
                    <td colspan="2"><%= predisplay case_data.output, type: :samp %></td>
                    <td colspan="2"><%= predisplay test_case.truncated_output, type: :kbd %></td>
                    <% if policy(@submission).inspect? %>
                      <td colspan="2"><span class="code"><%= case_data.evaluator.info %></span></td>
                    <% end %>
                  </tr>
                </table>
              </td>
            </tr>
        <% end %>
        <% end %>
      </tbody>
    <% end %>
  <% end %>
  <tbody class="summary status_<%= @judge_data.status %> score_<%= (@judge_data.score/10).floor if !@judge_data.score.nil? %>x">
    <tr>
      <th colspan="3"></th>
      <th>Total&nbsp;Score:</th>
      <th class="judgement"><%= @judge_data.judgement %></th>
    </tr>
  </tbody>
</table>
<br>
<br>
<p>
<b>Source:</b>
<%= predisplay(@submission.source || "", language: @submission.language.lexer) %>
</p>

