<% content_for :title, "Submission" %>
<% if @submission.judge_output == nil || @submission.score == nil %>
  <p>
  <b> This submission has not finished judging. Refresh this page in a minute or two to see the submission's score.
  </b>
  </p>
<p>
  <%= link_to "Rejudge", rejudge_submission_path(@submission), :data => { :confirm => 'Are you sure?' }, :method => "post" if permitted_to? :rejudge, @submission %>
<% else %>
  <% if @submission.score >= 100 %>
      <div id="submission_judged" class="green" />100% - All done. Nice.</div>
  <% elsif @submission.score < 100 and @submission.score > 0 %>
      <div id="submission_judged" class="orange" /><%= @submission.score %>% - Close, but not quite.</div>
  <% else %>
      <div id="submission_judged" class="red" />0% - Er...</div>
  <% end %>
  </p>
  <%= link_to "Rejudge", rejudge_submission_path(@submission), :data => { :confirm => 'Are you sure?' }, :method => "post" if permitted_to? :rejudge, @submission %>
  <p>
  <b>Problem:</b>
  <%= link_to @submission.problem.title, @submission.problem %>
  </p>

  <p>
  <b>Language:</b>
  <%= @submission.language %>
  </p>

  <p>
  <b>Score:</b>
  <%= @submission.score %>
  </p>

  <p>
  <div class="submission_details">
    <b>Detailed Output:</b>
    <div class="submission_details_hider">
      <%= simple_format(@submission.judge_output, {}, :sanitize => false) %>
    </div>
    <div class="submission_details_prompt"></div>
  </div>
  </p>


  <% if current_user.is_admin? %>
  <%= simple_format(@submission.debug_output) %>
  <% end %>

<% end %>
<p>
<b>Source:</b>
<pre><%= @submission.source %></pre>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) if permitted_to? :edit, @submission %> 
<%= link_to 'Back', @submission.problem %>
