<p>
<b>Score:</b>
<%= @submission.score %>
</p>

<p>
<b>Problem:</b>
<%= link_to @submission.problem.title, @submission.problem %>
</p>

<p>
<b>Language:</b>
<%= @submission.language %>
</p>

<p>
<b>Source:</b>
<pre><%= @submission.source %></pre>
</p>

<p>
<b>Detailed Output:</b>
<%= simple_format(@submission.judge_output) %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
