<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= simple_format(@submission.source) %>
</p>

<p>
  <b>Language:</b>
  <%= @submission.language %>
</p>

<p>
  <b>Score:</b>
  <%= @submission.score %>
</p>

<p>
  <b>User:</b>
  <%= @submission.user_id %>
</p>

<p>
  <b>Problem:</b>
  <%= @submission.problem_id %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
