<%= form_for @ai_submission, :html => {:multipart => true}, :url => submit_ai_contest_path(@ai_contest) do |f| %>
  <% if @ai_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ai_submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
      <ul>
      <% @ai_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Language: 
    <%= f.select :language, ['C++', 'C', 'Haskell', 'Python']%>
  </div>
  <div class="field">
    Source file: 
    <%= f.file_field :source_file %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>


