<b> Roles: </b>
<% @user.roles.each_with_index do |role, i|%><%= ', ' if i > 0 %><%= role.name %> <%= raw "(#{link_to 'remove', remove_role_user_path(@user, :role_id => role.id), :method => "put", :confirm => "Remove #{role.name}. Are you sure?"})" if permitted_to? :revoke, role %><% end %>
<% if permitted_to? :grant, Role %>
<p>
<%= form_tag( add_role_user_path(@user), :method => :put) do %>
  <%= collection_select :user, :role_ids, Role.with_permissions_to(:grant), :id, :name %>
  <%= submit_tag "Add role", :data => { :confirm => "Are you sure?" } %>
<% end %>
</p>
<% end %>

<p>
<%= link_to "Add brownie point", add_brownie_user_path(@user), :method => "post" if permitted_to? :add_brownie, @user %>
</p>
<p>
<%= link_to "Email as admin", admin_email_user_path(@user) if permitted_to? :email, @user %>
</p>
