<% content_for :title, @user_presenter.username %>

<div style="float: left; height: 150px;"><%= @user_presenter.avatar %></div>

<div style="height: 150px; padding: 25px; padding-left: 200px;">
  <% fields = { :username => "Username", :name => "Real Name", :email => "E-mail"} %>
  <% @user_presenter.presents *fields.keys do |key, value| %>
    <b><%= fields[key] %>:</b> <%= value %><br>
  <% end %>

  <b>Brownie Points:</b><%= @user.brownie_points %><br>
</div>

<b> <%= @solved_problems.size %> solved problems: </b>
<ul>
<% @solved_problems.each do |prob| %>
  <li>
  <%= link_to prob.name, problem_path(prob.problem_id) %>
  <%= "ERROR" if prob.ranked_submission.evaluation != 1 %>
  </li>
<% end %>
</ul>
<br>
<%= render 'admin' %>

<%= link_to 'Edit', edit_user_path(@user) if policy(@user).update? %>
<%= link_to 'Back', users_path %>
