<% present @user do |user_presenter| %>
  <% content_for :title, user_presenter.username %>

  <div style="float: left; height: 150px;"><%= user_presenter.avatar %></div>
  
  <div style="height: 150px; padding: 25px; padding-left: 200px;">
    <b>Username:</b> <%= user_presenter.username %><br>
    <% if permitted_to? :inspect, @user %>
      <b>Name:</b> <%= user_presenter.name %><br>
      <b>Email:</b><%= user_presenter.email %><br>
    <% end %>

    <b>Brownie Points:</b><%= @user.brownie_points %><br>
  </div>

  <b> <%= @solved_problems.size %> solved problems: </b>
  <ul>
  <% @solved_problems.each do |prob| %>
    <li>
    <%= link_to prob.title, prob %>
    </li>
  <% end %>
  </ul>
  <br>
<% end %>
<%= render 'admin' %>

<%= link_to 'Edit', edit_user_path(@user) if permitted_to? :update, @user %>
<%= link_to 'Back', users_path %>
