<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <% if can? :update, Role %>
      <th></th>
    <% end %>
    <% if can? :destroy, Role %>
      <th></th>
    <% end %>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= link_to 'Show', role %></td>
    <% if can? :update, Role %>
      <td><%= link_to 'Edit', edit_role_path(role) if can? :update, role %></td>
    <% end %>
    <% if can? :destroy, Role %>
      <td><%= link_to 'Destroy', role, :data => { :confirm => 'Are you sure?' }, :method => :delete if can? :destroy, role %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_role_path %>
