Items:

<table class="main_table">
  <thead>
    <tr><th>ID</td><th>Name</th><th>Status</th><th>Current Holder</th><th>Organisation</th><th></th></tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr><td><%= item.id %></td><td><%= item.product.name %></td><td><%= item.status ? Item::STATUS[item.status].to_s.titleize : "" %></td><td><%= item.holder ? item.holder.name : "None" %></td><td><%= item.organisation.name %></td><td><%= link_to "Show", item %></td></tr>
    <% end %>
  </tbody>
</table>


