<% content_for :title, "Test Cases" %>

<table>
  <tr>
    <th>Input</th>
    <th>Output</th>
    <th>Test Sets</th>
    <th>Name</th>
    <th>Problems</th>
    <th></th>
    <% if permitted_to? :update, TestSet %>
      <th></th>
    <% end %>
    <% if permitted_to? :destroy, TestSet %>
      <th></th>
    <% end %>
  </tr>

<% @test_cases.each do |test_case| %>
  <tr>
    <td><%= simple_format(test_case.input.shorten) %></td>
    <td><%= simple_format(test_case.output.shorten) %></td>
    <td><%= test_case.test_set_ids.to_s %></td>
    <td><%= test_case.name %></td>
    <td><%= test_case.problem_ids %></td>
    <td><%= link_to 'Show', test_case %></td>
    <% if permitted_to? :update, test_case %>
      <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
    <% end %>
    <% if permitted_to? :destroy, test_case %>
      <td><%= link_to 'Destroy', test_case, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test case', new_test_case_path %>
