<% content_for :title, "Test Cases" %>
<h1>Listing test_cases</h1>

<table>
  <tr>
    <th>Input</th>
    <th>Output</th>
    <th>Points</th>
    <th>Description</th>
    <th>Problem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_cases.each do |test_case| %>
  <tr>
    <td><%= simple_format(test_case.input.shorten) %></td>
    <td><%= simple_format(test_case.output.shorten) %></td>
    <td><%= test_case.points %></td>
    <td><%= test_case.description %></td>
    <td><%= test_case.problem_id %></td>
    <td><%= link_to 'Show', test_case %></td>
    <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
    <td><%= link_to 'Destroy', test_case, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test case', new_test_case_path %>
