<% content_for :title, "Test Case" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Input:</b>
  <%= simple_format(@test_case.input) %>
</p>

<p>
  <b>Output:</b>
  <%= simple_format(@test_case.output) %>
</p>

<p>
  <b>Test Sets:</b>
  <%= @test_case.test_sets.each { |test_set| link_to test_set.id, test_set }.join(", ") %>
</p>

<p>
  <b>Name:</b>
  <%= @test_case.name %>
</p>

<p>
  <b>Problems:</b>
  <%= @test_case.problem_ids.to_s %>
</p>


<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
