<% content_for :title, "Test Case" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Input:</b>
  <%= simple_format(@test_case.input) %>
</p>

<p>
  <b>Output:</b>
  <%= simple_format(@test_case.output) %>
</p>

<p>
  <b>Test Set:</b>
  <%= link_to @test_case.test_set_id, @test_case.test_set %>
</p>

<p>
  <b>Name:</b>
  <%= @test_case.name %>
</p>

<p>
  <b>Problem:</b>
  <%= @test_case.test_set.problem_id %>
</p>


<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
