<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>GTIN:</b>
  <%= @product.gtin %>
</p>

Items:

<table>
  <tr><th>ID</td><th>Status</th><th>Current Holder</th><th>Organisation</th><th></th></tr>
  <% @product.items.each do |item| %>
    <tr><td><%= item.id %></td><td><%= item.status %></td><td><%= item.holder ? item.holder.name : "None" %></td><td><%= item.organisation.name %></td><td><%= link_to "Show", item %></td></tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
