<% content_for :title, @product.name %>
<% toolbox_push :edit, edit_product_path(@product) %>
<% toolbox_push :back, products_path %>

<p>
  <b>GTIN:</b>
  <%= @product.gtin %>
</p>

Items:

<table>
  <tr><th>ID</td><th>Status</th><th>Current Holder</th><th>Organisation</th><th></th></tr>
  <% @product.items.each do |item| %>
    <tr><td><%= item.id %></td><td><%= item.status %></td><td><%= item.holder ? item.holder.name : "None" %></td><td><%= item.organisation.name %></td><td><%= link_to "Show", item %></td></tr>
  <% end %>
</table>
