<% content_for :title, series %>
<p><%= link_to "Update index", importers_update_index_contest_series_path(series), method: :post %></p>
<br>
<table class="main_table">
  <% @index.each_with_index do |volume, vid| %>
    <thead>
      <tr class="subheading">
        <th><%= link_to volume[:name], volume[:url] %></th>
        <th>Downloaded</th>
        <th></th>
        <th colspan="2">Imported</th>
      </tr>
    </thead>
    <tbody>
      <% volume[:contests].each_with_index do |contest, cid| %>
        <tr class="subheading">
          <td><%= link_to_if contest[:url], contest[:name], contest[:url] %></td>
          <td><%= importer.downloaded?(vid, cid) ? "Yes" : "No" %></td>
          <td>
            <%= link_to "Download", importers_download_contest_series_path(series, vid, cid), method: :post %> |
            <%= link_to "Reindex", importers_reindex_contest_series_path(series, vid, cid), method: :post %>
          </td>
          <td><%= link_to ProblemSet.where(id: contest[:problem_set_id]).first.try(:name), problem_set_path(contest[:problem_set_id]) if contest[:problem_set_id] %></td>
          <td>
            <%= form_tag importers_update_contest_series_path(series, vid, cid), method: :patch do %>
              <%= text_field :contest, :problem_set_id, value: contest[:problem_set_id], style: 'width: 20px' %>
              <%= submit_tag "Link" %>
            <% end %>
          </td>
        </tr>
        <% (contest[:problems] || []).each_with_index do |problem, pid| %>
          <tr>
            <td><%= link_to_if problem[:url], problem[:name], problem[:url] %></td>
            <td></td>
            <td>
              <% if problem[:problem_id] %>
                Re-import:
                <%= link_to "Statement", importers_import_contest_series_path(series, vid, cid, pid, :statement), method: :post %> |
                <%= link_to "Images (#{problem[:images].size})", importers_import_contest_series_path(series, vid, cid, pid, :images), method: :post %> |
                <%= link_to "Test Cases", importers_import_contest_series_path(series, vid, cid, pid, :tests), method: :post %> |
                <%= link_to "Test Submissions", importers_import_contest_series_path(series, vid, cid, pid, :submissions), method: :post %>
              <% else %>
                <%= link_to "Import", importers_import_contest_series_path(series, vid, cid, pid), method: :post %>
              <% end %>
            </td>
            <td><%= link_to Problem.where(id: problem[:problem_id]).first.try(:name), problem_path(problem[:problem_id]) if problem[:problem_id] %></td>
            <td>
              <%= form_tag importers_update_contest_series_path(series, vid, cid), method: :patch do %>
                <%= text_field(:problems, pid, value: problem[:problem_id], style: 'width: 20px') %>
                <%= submit_tag "Link" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>

