<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tag %>

<title><%= yield :title %><%= "#{((yield :title).length>0?" - ":"")}NZOI Training" %></title>
</head>
<body>
<div id="side">
  <div id="side-container">
    <div id="side-minify">&#9664;</div>
    <div id="side-expanded">
      <div id="side-logo">
         <%= image_tag("logo.svg") %>
      </div>
      <div id="side-title">
        Training Site
      </div>
    </div>
    <div id="side-contracted">
      <%= image_tag("sideways-banner.png") %>
    </div>
  </div>
</div>
<div id="menu">
  <div id="controls">
    <div id="nav2">
      <ul>
        <li<%= raw ' class="masknav"' if in_su? %>>
        <% if user_signed_in? %>
          <a href="<%= user_path(current_user) %>"><%= current_user.username %></a>
          <ul>
            <table style="border: none; margin: 0px; padding: 0px;">
              <tr>
                <td><img src="<%= current_user.avatar.small.url %>" style="background: #a1cca1;"></td>
                <td style="vertical-align: top;">
                  <% if in_su? %>
                    <li><%= link_to "exit su", suexit_users_path, :method => 'post' %></li>
                  <% end %>
                  <li><a href="/accounts/settings/edit">edit profile</a></li>
                  <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
                </td>
              </tr>
            </table>
          </ul>
        <% else %>
          <a href="<%= new_user_session_path %>">sign in</a>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div id="nav">
    <ul>
      <!--<li><a href="#">information</a></li>-->
      <% if user_signed_in? %>
        <li><a href="<%= contests_path %>">contests</a></li>
        <li><a href="#" onClick="return false;">problems</a>
          <ul>
            <li><a href="<%= problem_sets_path %>">problem sets</a></li>
            <li><a href="<%= problems_path %>">problems</a></li>
            <li><a href="<%= submissions_path %>">submissions</a></li>
            <li><a href="<%= evaluators_path %>">evaluators</a></li>
          </ul>
        </li>
        <li><a href="#" onClick="return false;">community</a>
          <ul>
            <li><a href="<%= users_path %>">users</a></li>
            <li><a href="<%= groups_path %>">groups</a></li>
          </ul>
        </li>
        <% if current_user && current_user.is_admin? %>
          <li><a href="#" onClick="return false;">admin</a>
            <ul>
              <% if can? :index, Role %><li><a href="<%= roles_path %>">roles</a></li><% end %>
              <% if can? :index, Setting %><li><a href="<%= settings_path %>">settings</a></li><% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div id="main">
        <div id="content-container">
	  <div id="main-message-container">
	    Congratulations to our current brownie point leader <%= @brownie_leader.email %> who has <%= @brownie_leader.brownie_points %> points!<br />
	  </div>
	  <div id="main-container">
          <div class="message-container">
	    Re-enabled managing (creating/reading/updating) your own problems.<br />
	  </div>
	        <% if alert %>
	          <p id="alert"><%= alert %></p>
                <% end %>
	        <% if flash[:notice] %>
	          <p id="alert"><%= flash[:notice] %></p>
	        <% end %>
                <div>
	        <%= yield %>
                </div>
	  </div>
        </div>
</div>
<div id="password-popup" style="display: none; position: fixed; background-color: rgba(1,1,1,0.5); width: 100%; height: 100%; z-index: 100;">
  <div style="position: absolute; height: 100px; width: 300px; margin-top: -50px; margin-left: -150px; top: 50%; left: 50%; border: 1px solid black; background-color: white; text-align: center; padding: 20px;">
    <%= form_tag(:method => 'post') do %>
      <div class="field">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, '', :autocomplete => 'off' %>
      </div>
      <div class="actions">
        <input type="button" value="Cancel" style="margin-right: 20px;" onClick="this.form.reset(); $('#password-popup').css({'display':'none'});">
        <%= submit_tag('Confirm', :style => "margin-left: 20px;") %>
      </div>
    <% end %>
  </div>
</div>
</body>
</html>
