<html>
<head>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery-1.6.2.min.js", "jquery-ui-1.8.16.custom.min.js" %>
    <%= javascript_include_tag :markitup %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
    <%= javascript_include_tag "jquery.fileinput.js" %>
    <%= javascript_include_tag "jquery.countdown.js" %>

    <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
    <%= stylesheet_link_tag  "fileinput.css" %>
    <%= stylesheet_link_tag  "jquery.countdown.css" %>
    <%= stylesheet_link_tag :markitup %>
    <%= stylesheet_link_tag :all, :cache => false%>



    <%= csrf_meta_tag %>

	<script type="text/javascript">
	$(document).ready(function() {
		$("#main-message-container-close").click(function() {
      $("#main-message-container").fadeOut();
   });
});
</script>
<body>
<div id="side">
   <div id="side-logo">
   </div>
   <div id="side-title">
     Training Site
   </div>
   <% if user_signed_in? %>
	   <a href="/accounts/edit"><%= current_user.email %></a><br /><br />
   <ul>
      <li><a href="<%= problems_path %>">problems</a></li>
      <li><a href="<%= contests_path %>">contests</a></li>
      <li><a href="<%= groups_path %>">groups</a></li>
      <li><a href="<%= users_path %>">users</a></li>
   </ul>

   <div id="side-uac">
      <%= link_to "sign out >", destroy_user_session_path, :method => :delete %>
   </div>
   <% else %>
      <a href="<%= new_user_session_path %>">sign in</a>
   <% end %>

</div>

<div id="main">
	<div id="main-message-container">
	    Congratulations to our current brownie point leader <%= @brownie_leader.email %> who has <%= @brownie_leader.brownie_points %> points!<br />
	    <!--Note: each test case in Adding Numbers is in a separate file: you should only read in 2 numbers. <br />
	    Note 2: Actually, this applies for all 3 problems. There is no need to handle multiple test cases per file. <br /> -->
	<div id="main-message-container-close">close</div>
	</div>
	<div id="main-container">
	      <% if alert %><p id="alert"><%= alert %></p><% end %>
	      <%= yield %>
	</div>
</div>
</body>
</html>
