<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery-1.6.2.min.js", "jquery-ui-1.8.16.custom.min.js" %>
    <%= javascript_include_tag :markitup %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
    <%= javascript_include_tag "jquery.fileinput.js" %>
    <%= javascript_include_tag "jquery.countdown.js" %>
    <%= javascript_include_tag "jquery.ba-bbq.min.js" %>
    <%= javascript_include_tag "superfish.js" %>
    <%= javascript_include_tag "jquery.event.hover-1.0.js" %>

    <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
    <%= stylesheet_link_tag  "fileinput.css" %>
    <%= stylesheet_link_tag  "jquery.countdown.css" %>
    <%= stylesheet_link_tag :markitup %>
    <%= stylesheet_link_tag :all, :cache => false%>

    <%= javascript_include_tag 'pagination' %>

    <%= csrf_meta_tag %>

<script type="text/javascript">
<!--
        function createCookie(name,value,days) {
		if (days) {
			var date = new Date();
			date.setTime(date.getTime()+(days*24*60*60*1000));
			var expires = "; expires="+date.toGMTString();
		}
		else var expires = "";
		document.cookie = name+"="+value+expires+"; path=/";
	}

	function readCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1,c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		}
		return null;
	}

        var expandspeed = 1;
        var minduration = 250;
        function toggle_height(id, displaytype) {
           if ($("#"+id).data("height")==undefined) {
              $("#"+id).data("height",$('#'+id).height());
              $("#"+id).data("state",0);
              var e = document.getElementById(id);
              e.style.height = "0px";
              e.style.display = ((typeof(displaytype)=="undefined")?"block":displaytype);
           }
           if ($("#"+id).data("state")==0) {
              $("#"+id).stop();
              $("#"+id).animate({'height':$("#"+id).data("height")},Math.max(($("#"+id).data("height")-$("#"+id).height())/expandspeed,minduration));
              $("#"+id).data("state",1);
           }
           else {
              $("#"+id).stop();
              $("#"+id).animate({'height':0},Math.max($("#"+id).height()/expandspeed,minduration));
              $("#"+id).data("state",0);
           }
        }

	var duration = 250;
	function shrink() {
		createCookie("expanded", "false", 31);
		$("#side").animate({width:'50px'}, duration);
		$('#menu').animate({'left':'60px'}, duration);
		$('#side-minify').html("&#9654;");
		$('#main').animate({'margin-left':'50px'}, duration);
                $('#side-expanded').animate({'opacity':'0'},duration);
                $('#side-contracted').animate({'opacity':'1'}, duration);
	}

	function expand() {
		createCookie("expanded", "true", 31);
		$("#side").animate({width:'200px'}, duration);
		$('#menu').animate({'left':'210px'}, duration);
		$('#side-minify').html("&#9664;");
		$('#main').animate({'margin-left':'200px'}, duration);
                $('#side-expanded').animate({'opacity':'1'},duration);
                $('#side-contracted').animate({'opacity':'0'}, duration);
	}

	$(document).ready(function() {
		var expanded = readCookie("expanded");
		if(expanded == "false") {
			duration = 0;
			shrink();
			duration = 250;
		}
		$("#main").show();
		$('#side-minify').click(function() {
			if($('#side').width() <= 100)
				expand();
			else
				shrink();
		});

		$("table tr").click(function() {
			$(this).toggleClass("main-table-highlight");
		});

                $("#nav ul").superfish({
                  animation: {opacity:'show',height:'show'}
                });
                $("#nav2 ul").superfish({
                  autoArrows: false
                });
	});
//-->
</script>
<title><%= yield :title %><%= "#{((yield :title).length>0?" - ":"")}NZOI Training" %></title>
</head>
<body>
<div id="side">
  <div id="side-container">
    <div id="side-minify">&#9664;</div>
    <div id="side-expanded">
      <div id="side-logo">
         <img src="/images/logo.svg" style="width: 100%;">
      </div>
      <div id="side-title">
        Training Site
      </div>
      <div style="color: white; margin-left: 10px;">
        High scores coming soon
        <ul>
          <li style="color: white;">Brownie points</li>
          <li style="color: white;">Problems solved</li>
        <ul>
      </div>
    </div>
    <div id="side-contracted">
      <img src="/images/sideways-banner.png" style="position: absolute; top: 50%; margin-top: -200px;">
    </div>
  </div>
</div>
<div id="menu">
  <div id="controls">
    <div id="nav2">
      <ul>
        <li<%= raw ' class="masknav"' if in_su? %>>
        <% if user_signed_in? %>
          <a href="/accounts/edit"><%= current_user.username %></a>
          <ul>
            <% if in_su? %>
              <li><%= link_to "exit su", suexit_users_path, :method => 'post' %></li>
            <% end %>
            <li><a href="/accounts/edit">edit profile</a></li>
            <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <a href="<%= new_user_session_path %>">sign in</a>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div id="nav">
    <ul>
      <!--<li><a href="#">information</a></li>-->
      <% if user_signed_in? %>
        <li><a href="<%= contests_path %>">contests</a></li>
        <li><a>problems</a>
          <ul>
            <li><a href="<%= problem_sets_path %>">problem sets</a></li>
            <li><a href="<%= problems_path %>">problems</a></li>
            <li><a href="<%= submissions_path %>">submissions</a></li>
            <li><a href="<%= evaluators_path %>">evaluators</a></li>
          </ul>
        </li>
        <li><a>community</a>
          <ul>
            <li><a href="<%= users_path %>">users</a></li>
            <li><a href="<%= groups_path %>">groups</a></li>
          </ul>
        </li>
        <% if current_user && current_user.is_admin %>
          <li><a>admin</a>
            <ul>
              <% if can? :index, Role %><li><a href="<%= roles_path %>">roles</a></li><% end %>
              <% if can? :index, Setting %><li><a href="<%= settings_path %>">settings</a></li><% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div id="main">
	<div id="main-message-container">
	    Congratulations to our current brownie point leader <%= @brownie_leader.email %> who has <%= @brownie_leader.brownie_points %> points!<br />
	</div>
	<div id="main-container">
        <div class="message-container">
	    You can now set your username, which will be your display name in future. It has been set automatically to your email's local name. Warning: You can only change it once (after which it will become unchangeable). However, if you do not change your username, this functionality may disappear soon.<br />
	</div>
	      <% if alert %>
	        <p id="alert"><%= alert %></p>
              <% end %>
	      <% if flash[:notice] %>
	        <p id="alert"><%= flash[:notice] %></p>
	      <% end %>
              <div>
	      <%= yield %>
              </div>
              <div id="footer">/usr/bin/time -f "%e seconds" curl --silent <%= request.url %> &gt; /dev/null<br />$responsetime seconds</div>
	</div>

</div>
<div id="password-popup" style="display: none; position: fixed; background-color: rgba(1,1,1,0.5); width: 100%; height: 100%; z-index: 100;">
  <div style="position: absolute; height: 100px; width: 300px; margin-top: -50px; margin-left: -150px; top: 50%; left: 50%; border: 1px solid black; background-color: white; text-align: center; padding: 20px;">
    <%= form_tag(:method => 'post') do |f| %>
      <div class="field">
        <%= label_tag :password %><br />
        <%= password_field_tag :password %>
      </div>
      <div class="actions">
        <input type="button" value="Cancel" style="margin-right: 20px;" onClick="this.form.reset(); $('#password-popup').css({'display':'none'});">
        <%= submit_tag('Confirm', :style => "margin-left: 20px;") %>
      </div>
    <% end %>
  </div>
</div>
</body>
</html>
