<% content_for :title, @contest.name %>
<%= toolbox_push :edit, edit_contest_path(@contest) if policy(@contest).update? %>
<%= toolbox_push :delete, @contest if policy(@contest).destroy? %>

<% content_for :content do %>
  <div style="height: 40px;">
    <div style="float: right;">
      <% if policy(@contest).startable? %>
        <% if !@contest.started? %>
          <span class="buttonbox gray">
          <%= button_tag(type: :button, style: 'width: 160px; height: 50px;') do %>
            <i class="icon-time"></i>Start<br>
            <div class="countdown" data-duration="<%= @contest.start_time - DateTime.now %>" data-format="(in %-D day%!D %H:%M:%S)" style="font-weight: normal">
              <%= Duration.new(@contest.start_time-Time.now).format("(in %tdu %H:%M:%S)") %>
            </div>
          <% end %>
          </span>
        <% elsif @contest.has_current_competitor?(current_user.id) %>
          <% relation = @contest.get_relation(current_user.id) %>
          <% if relation.started_at <= Time.now %>
            <p>Contest time remaining:</p>
            <div class="countdown large" data-duration="<%= relation.finish_at - DateTime.now %>" data-format="%th:%M:%S" style="color: #008800; text-align: right;">
              <%= Duration.new(relation.finish_at-Time.now).format("%th:%M:%S") %>
            </div>
          <% else # user's time slot is set to begin %>
            <p>Contest time slot begins in:</p>
            <div class="countdown large" data-duration="<%= relation.started_at - DateTime.now %>" data-format="%th:%M:%S" style="color: #3F3F3F; text-align: right;">
              <%= Duration.new(relation.started_at-Time.now).format("%th:%M:%S") %>
            </div>
            <script type="text/javascript">
            <!--
              window.setTimeout("window.location.reload(true);", <%= ((relation.started_at - DateTime.now)*1000).round %>);
            //-->
            </script>
          <% end %>
        <% elsif policy(@contest).start? && @contest.is_running? && !@contest.has_competitor?(current_user.id) %>
          <%= form_tag(start_contest_path(@contest), method: 'put', style: "text-align: center") do %>
            <% if !@contest.startcode.nil? %>
              <%= text_field_tag(:startcode, "", placeholder: "Startcode", style: 'width: 148px; height: 20px;') %><br>
            <% end %>
            <span class="buttonbox green">
              <%= button_tag(type: :submit, style: 'width: 160px; height: 50px;') do %>
                <i class="icon-time"></i>Start
              <% end %>
            </span>
            <div class="countdown" data-duration="<%= @contest.end_time - DateTime.now %>" data-format="%-D day%!D %H:%M:%S remaining">
              <%= Duration.new(@contest.end_time-Time.now).format("%tdu %H:%M:%S remaining") %>
            </div>
          <% end %>
        <% else %>
          <p>Contest has ended</p>
        <% end %>
      <% end %>
    </div>
    <div style="font-size: 150%; width: 45%; float: left; height: 50px">
      <span style="font-size: 200%"><%= @contest.num_contestants %> </span>contestants
    </div>
    <div style="font-size: 150%; float: left; height: 50px">
      <span style="font-size: 200%"><%= @contest.problem_set.problems.count %> </span>problems
    </div>
  </div>
  <br>
  <% if @contest.is_running? %>
    <% end_time = @contest.has_current_competitor?(current_user) ? @contest.get_relation(current_user).finish_at : @contest.end_time %>
    <% if !end_time.nil? %>
      <div class="countdown" data-duration="<%= @contest.end_time - DateTime.now %>" data-format="Contest ends in %-D day%!D, %-H hour%!H, %-M minute%!M, %-S second%!S">
        <%= Duration.new(@contest.end_time-Time.now).format("Contest ends in %tdu, %h %~h, %m %~m, %s %~s") %>
      </div>
    <% end %>
  <% end %>
  <p>
    <b>Start time:</b>  <%= @contest.start_time %><br>
    <b>End time:</b>    <%= @contest.end_time %><br>
    <b>Duration:</b>    <%= @contest.duration %><br>
    <b>Owner:</b> <%= @contest.owner_id %><br>
  </p>
  <% if @contest.ended? and @contest.finalized_at.nil? and policy(@contest).update? %>
    <%= link_to "Finalize results", finalize_contest_path(@contest), :data => { :confirm => 'Are you sure?' }, :method => :put %>
    <%#= "Re-judge all" %><br />
  <% elsif @contest.finalized_at and current_user.is_admin? %>
    <%= link_to "Un-finalize", unfinalize_contest_path(@contest), :data => { :confirm => 'Are you sure?' }, :method => :put %><br />
    <%#= "Re-judge all" %><br />
  <% end %>
  <%=
#  SimpleNavigation::ItemContainer.new do |menu|
  render_navigation do |menu|
    menu.dom_class = :tab_menu
    menu.item :info, "info", info_contest_path(@contest) if policy(@contest).show?
    menu.item :problems, "problems", contest_path(@contest) if policy(@contest).overview?
    menu.item :contestants, "contestants", contestants_contest_path(@contest) if policy(@contest).contestants?
    menu.item :supervisors, "supervisors", supervisors_contest_path(@contest) if policy(@contest).manage?
    menu.item :scoreboard, "scoreboard", scoreboard_contest_path(@contest) if policy(@contest).show?
#  end.render
  end
  %>
  <%= content_tag :div, :class => :tab_box do %>
    <%= yield %>
  <% end %>
  <% if policy(@contest).update? %>
    <%= render 'contests/admin' %>
  <% end %>
<% end %>
<%= render :template => 'layouts/scaffold' %>
