<% content_for :title, @contest.name %>
<%= toolbox_push :edit, edit_contest_path(@contest) if policy(@contest).update? %>
<%= toolbox_push :delete, @contest if policy(@contest).destroy? %>

<% content_for :content do %>
  <table style="background-color: none; border: 0px; width: 100%; font-size: 150%;">
    <tr>
      <td><span style="font-size: 200%"><%= @contest.contestants.count %> </span>contestants</td>
      <td><span style="font-size: 200%"><%= @contest.problem_set.problems.count %> </span>problems</td>
    </tr>
  </table>
  <% if policy(@contest).start? %>
    <div style="float: right"><%= link_to 'Start Contest', start_contest_path(@contest), :method => :put %></div>
  <% end %>
  <% if @contest.is_running? %>
    <% end_time = @contest.has_current_competitor?(current_user) ? @contest.get_relation(current_user).finish_at : @contest.end_time %>
    <%
      seconds = (end_time-Time.now)
      hours, minutes, seconds = (seconds/3600).floor, (seconds%3600/60).floor, (seconds%60).floor
    %>
    <div id="countDownTimer" style="width: 50%"><!--<%= distance_of_time_in_words(DateTime.now,end_time) %>--><%= "#{hours} hours, #{minutes} minutes, #{seconds} seconds" %> remaining</div>
    <script>
      $(document).ready(function(){
        var datesec = <%= end_time.to_i %>;
        var date = new Date(Number(datesec) * 1000);
        $("#countDownTimer").countdown({until: date, layout: '{sn} {sl}, {mn} {ml}, {hn} {hl}, and {dn} {dl} remaining'});
      });
    </script>
  <% end %>
  <p>
    <b>Start time:</b>  <%= @contest.start_time %><br>
    <b>End time:</b>    <%= @contest.end_time %><br>
    <b>Duration:</b>    <%= @contest.duration %><br>
    <b>Owner:</b> <%= @contest.owner_id %><br>
  </p>
  <% if @contest.end_time < DateTime.now and @contest.finalized_at.nil? and policy(@contest).update? %>
    <%= link_to "Finalize results", finalize_contest_path(@contest), :data => { :confirm => 'Are you sure?' }, :method => :put %>
    <%#= "Re-judge all" %><br />
  <% elsif @contest.finalized_at and current_user.is_admin? %>
    <%= link_to "Un-finalize", unfinalize_contest_path(@contest), :data => { :confirm => 'Are you sure?' }, :method => :put %><br />
    <%#= "Re-judge all" %><br />
  <% end %>
  <%=
#  SimpleNavigation::ItemContainer.new do |menu|
  render_navigation do |menu|
    menu.dom_class = :tab_menu
    menu.item :info, "info", info_contest_path(@contest) if policy(@contest).show?
    menu.item :problems, "problems", contest_path(@contest) if policy(@contest).access?
    menu.item :scoreboard, "scoreboard", scoreboard_contest_path(@contest) if policy(@contest).show?
#  end.render
  end
  %>
  <%= content_tag :div, :class => :tab_box do %>
    <%= yield %>
  <% end %>
  <% if policy(@contest).update? %>
    <%= render 'admin' %>
  <% end %>
<% end %>
<%= render :template => 'layouts/scaffold' %>
