<% content_for :title, @group.name %>
<% content_for :content do %>
  <div id="main-page-title"><%= @group.name %></div>
  <table style="background-color: none; border: 0px; font-size: 20pt;"><tr><td><%= @group.memberships.count %> members</td><td><%= @group.problem_sets.count %> problem sets</td></tr></table>
  <% if @group.members.exists?(current_user) %>
    <%= link_to 'Leave group', leave_group_path(@group), :method => :put if permitted_to? :leave, @group %>
  <% else %>
    <%= link_to 'Join group', join_group_path(@group), :method => :put if permitted_to? :join, @group %>
  <% end %>
  <%= link_to 'Edit', edit_group_path(@group) if permitted_to? :update, @group %>
  <%=
#  SimpleNavigation::ItemContainer.new do |menu|
  render_navigation do |menu|
    menu.dom_class = :tab_menu
    menu.item :info, "info", info_group_path(@group)
    menu.item :problems, "problems", group_path(@group) if permitted_to? :access_problems, @group
    menu.item :contests, "contests", contests_group_path(@group) if permitted_to? :access_problems, @group
    menu.item :members, "members", members_group_path(@group) if permitted_to? :access_problems, @group
#  end.render
  end
  %>
  <%= content_tag :div, :class => :tab_box do %>
    <%= yield %>
  <% end %>
<% end %>
<%= render :template => 'layouts/application' %>
