<% content_for :title, @group.name %>
<% toolbox_push :edit, edit_group_path(@group) if policy(@group).update? %>
<% toolbox_push :delete, @group if policy(@group).destroy? %>
<% if @group.members.exists?(current_user.id) %>
  <% toolbox_push :leave, leave_group_path(@group) if policy(@group).leave? %>
<% elsif policy(@group).join? %>
  <%= toolbox_push :join, join_group_path(@group)  %>
<% elsif policy(@group).apply? %>
  <%= toolbox_push :apply, apply_group_path(@group)  %>
<% end %>
<% content_for :content do %>
  <table style="background-color: none; border: 0px; width: 100%; font-size: 150%;">
    <tr>
      <td><span style="font-size: 200%"><%= @group.memberships.count %> </span>members</td>
      <td><span style="font-size: 200%"><%= @group.problem_sets.count %> </span>problem sets</td>
    </tr>
  </table>
  <%=
#  SimpleNavigation::ItemContainer.new do |menu|
  render_navigation do |menu|
    menu.dom_class = :tab_menu
    menu.item :info, "info", info_group_path(@group)
    menu.item :problems, "problems", group_path(@group) if policy(@group).access?
    menu.item :files, "files", group_files_path(@group) if policy(@group).update? || (@group.filelinks.any? && policy(@group).access?)
    menu.item :contests, "contests", contests_group_path(@group) if policy(@group).access?
    menu.item :members, "members", members_group_path(@group), :highlights_on => %r(#{members_group_path(@group)}) if policy(@group).access?
    menu.item :scoreboard, "scoreboard", scoreboard_group_path(@group) if policy(@group).access?
#  end.render
  end
  %>
  <%= content_tag :div, :class => :tab_box do %>
    <%= yield %>
  <% end %>
<% end %>
<%= render :template => 'layouts/scaffold' %>
