<% content_for :title, @problem.title %>
<% content_for :content do %>
  <div id="main-page-title-box"><h1><%= @problem.title %></h1></div>

<% if @problem.input.nil? %>
  <b>Input: </b>Standard Input (stdin)<br />
<% else %>
  <b>Input File: </b><%= @problem.input %><br />
<% end %>
<% if @problem.output.nil? %>
  <b>Output: </b>Standard Output (stdout)<br />
<% else %>
  <b>Output File: </b><%= @problem.output %><br />
<% end %>
  <b>Memory limit: </b><%= @problem.memory_limit %> megabytes<br />
  <b>Time limit: </b><%= @problem.time_limit %> seconds<br />
  <%=
#  SimpleNavigation::ItemContainer.new do |menu|
  render_navigation do |menu|
    menu.dom_class = :tab_menu
    menu.item :statement, "problem statement", problem_path(@problem)
    menu.item :submit, "submit", submit_problem_path(@problem), :highlights_on => :subpath if permitted_to? :submit, @problem
    menu.item :submissions, "submissions", submissions_problem_path(@problem)
#  end.render
  end
  %>
  <%= content_tag :div, :class => :tab_box do %>
    <%= yield %>
  <% end %>
<% end %>
<%= render :template => 'layouts/application' %>
