<% content_for :main do %>
  <div id="main">
    <% if alert %>
      <div class="messagebox alert"><%= alert %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="messagebox notice"><%= flash[:notice] %></div>
    <% end %>
    <% if false %><div class="messagebox notification">Notification here</div><% end %>
    <% if (yield :title).length>0 %>
      <div id="main-page-title-box">
        <ul id="main-toolbox"><%= yield :toolbox %></ul>
        <h1><%= yield :title %></h1>
      </div>
    <% end %>
    <div id="main-container">
      <%= yield(:content).empty? ? yield : yield(:content) %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
